<mat-chip-list #chipList aria-label="Categorie selection" *ngIf="categories">
  <mat-chip class="dark-chip tt-upper">Gestion des catégories : </mat-chip>
  <mat-chip
    *ngFor="let cat of categories"
    [selectable]="selectable"
    [ngStyle]="{
                  'color': cat.selected ? '#FFF' : '',
                  'background-color': cat.selected ? '#000' : ''
                }"
    (click)="selectMe(cat)">
      <span class="cercle-acro">{{ cat.acronyme }} </span> : {{cat.nom}}
  </mat-chip>
  <button mat-icon-button (click)="openMatDialog()">
    <mat-icon>add</mat-icon>
  </button>
</mat-chip-list>

