<button mat-icon-button
  type="button"
  class="button-right"
  (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">

  <h2>Liste des Objectifs</h2>

  <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{'box-shadow': 'none !important'}">

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'objectif</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création</th>
          <td mat-cell *matCellDef="let element" class="timestamp"> {{element.timestamp | date}} </td>
        </ng-container>

        <!-- Acronyme Column -->
        <ng-container matColumnDef="acronyme">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acronyme</th>
          <td mat-cell *matCellDef="let element">
            <span class="bulle-acro">
              {{element.acronyme}}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="premium">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Premium </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
            <mat-icon class="icon-but" *ngIf="element.premium" (click)="updateField(true,'premium', element)">check</mat-icon>
            <mat-icon class="icon-but" *ngIf="!element.premium" (click)="updateField(false,'premium', element)">close</mat-icon>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align':'right'}">
            <button mat-icon-button (click)="onUpdate(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

