 <div *ngIf="!toMatCatManager && !toExeCatManager">

  <div fxLayout="row">
    <div  fxFlex="80" fxLayoutAlign="start start">
      <h2 *ngIf="toCreate" class="h2-modal">Ajouter
        <span *ngIf="formData.type=='pathologie'">une nouvelle pathologie </span>
        <span *ngIf="formData.type=='pointfaible'">un nouveau point faible</span>
      </h2>
      <h2 *ngIf="!toCreate" class="h2-modal">Editer
        <span *ngIf="formData.type=='pathologie'">la pathologie</span>
        <span *ngIf="formData.type=='pointfaible'">le point faible</span>
      </h2>
    </div>
    <div  fxFlex="20" fxLayoutAlign="end start">
      <button mat-icon-button class="button-right-modal"
        (click)="closeDialog()" type="button">
          <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>


  <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

    <div fxLayout="row wrap" fxLayoutAlign="start start">

      <mat-form-field fxFlex="78">
        <input matInput placeholder="Nom de la pathologie" type="text" name="nom"
          [(ngModel)]="formData.nom"
          (ngModelChange)="updateField('nom', formData.nom)"
          id="nom" required>
      </mat-form-field>
      &nbsp;&nbsp;

      <mat-form-field fxFlex="20">
        <input matInput placeholder="Acronyme" type="text" name="acronyme"
          maxlength="3"
          [(ngModel)]="formData.acronyme"
          (ngModelChange)="updateField('acronyme', formData.acronyme)"
          id="acronyme" required>
      </mat-form-field>
      &nbsp;&nbsp;

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Descriptif de la pathologie" name="details"
        rows="4" [(ngModel)]="formData.details"
        (ngModelChange)="updateField('details', formData.details)"
        required></textarea>
      </mat-form-field>
      &nbsp;&nbsp;

      <div fxLayout="row" fxFlex="100">
        <div fxFlex="100" fxLayout="column">

          <div class="type">
            <label class="dark-chip"> Type :</label>
            <mat-radio-group color="warn"
            [(ngModel)]="formData.type"
            (ngModelChange)="updateField('type', formData.type)"
            [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="pathologie" class="span-radio-button">
                Pathologie
              </mat-radio-button>
              <mat-radio-button value="pointfaible" class="span-radio-button">
                Point faible
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <div *ngIf="!toCreate" fxLayout="column" [ngStyle]="{'margin':'0 0 30px'}">
        <div *ngIf="formData.exercicesCategorie ? formData.exercicesCategorie.length!=0 : false">
          <h4 class="h4-modal">Catégories d'exercices</h4>
          <span *ngFor="let cat of formData.exercicesCategorie" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
        </div>
        <div *ngIf="formData.materielsCategorie ? formData.materielsCategorie.length!=0 : false" [ngStyle]="{'margin':'20px 0 0'}">
          <h4 class="h4-modal">Catégories de matériels</h4>
          <span *ngFor="let cat of formData.materielsCategorie" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
        </div>
      </div>

      <div *ngIf="toCreate" fxLayout="column" [ngStyle]="{'margin':'0 0 30px'}">
        <div *ngIf="categoriesService.exeCatChipsSelected.length!=0">
          <h4 class="h4-modal">Catégories d'exercices</h4>
          <span *ngFor="let cat of categoriesService.exeCatChipsSelected" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
        </div>
        <div *ngIf="categoriesService.matCatChipsSelected.length!=0" [ngStyle]="{'margin':'20px 0 0'}">
          <h4 class="h4-modal">Catégories de matériels</h4>
          <span *ngFor="let cat of categoriesService.matCatChipsSelected" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
        </div>
      </div>

      <div fxFlex="100">

        <button mat-fab color="black"
          type="button"
          matTooltip="Ajouter des catégories d'exercices à cette pathologie" matTooltipPosition="after"
          (click)="toExeCatManager = !toExeCatManager"
          *ngIf="!toMatCatManager && !form.invalid">
            <mat-icon>explicit</mat-icon>
        </button>

        <button mat-fab color="black"
          type="button"
          matTooltip="Ajouter des catégories de matériel à cette pathologie" matTooltipPosition="after"
          (click)="toMatCatManager = !toMatCatManager"
          *ngIf="!toExeCatManager && !form.invalid">
            <mat-icon>fitness_center</mat-icon>
        </button>

        <button mat-fab color="warn" type="submit"
          [disabled]="form.invalid"
          *ngIf="toCreate">
            <mat-icon>save</mat-icon>
        </button>
      </div>

    </div>
  </form>
</div>

<div fxLayout="row wrap" fxLayoutAlign="end start">
  <button mat-icon-button class="button-right-modal" type="button"
  *ngIf="toMatCatManager || toExeCatManager"
  (click)="toMatCatManager = false; toExeCatManager = false">
    <mat-icon>close</mat-icon>
</button>
</div>

<div *ngIf="toMatCatManager">
  <app-categories [noeud]="'mat_cat'" *ngIf="toCreate"></app-categories>
  <app-categories [noeud]="'mat_cat'"
        [currentPathologie]="formData"
        [chipsSelectedInput]="formData.materielsCategorie" *ngIf="!toCreate"></app-categories>
</div>

<div *ngIf="toExeCatManager">
  <app-categories [noeud]="'exe_cat'" *ngIf="toCreate"></app-categories>
  <app-categories [noeud]="'exe_cat'"
        [currentPathologie]="formData"
        [chipsSelectedInput]="formData.exercicesCategorie" *ngIf="!toCreate"></app-categories>
</div>
