<!-- <div class="container">
    <h2>All Users</h2>
    <div class="container" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start"
    fxLayout.lt-sm="column">
            <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%" *ngFor="let user of users"
            style="cursor:pointer"
            (click)="onJoinMember(user)">
                <mat-card class="example-card"
                [ngStyle]="{'background-color': user.memberid ? '#27ae60':'#e74c3c',
                'color':'white',
                'margin-bottom': '10px'}" >
                    <mat-card-header >
                    <mat-card-title class="text-center">{{ user.email }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-subtitle>{{ user.memberid ? user.memberid : 'not member' }}</mat-card-subtitle>
                </mat-card>
            </div>
    </div>
</div>
-->

<div class="container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    <div class="mat-elevation-z8 displayData">
        <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element.memberid ? '#27ae60':'#e74c3c'}"> {{element.email}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="memberid">
            <th mat-header-cell *matHeaderCellDef> Member Id </th>
            <td mat-cell *matCellDef="let element"
            [ngStyle]="{'background-color': element.memberid ? '#27ae60':'#e74c3c'}"> {{ element.memberid ? element.memberid : 'not member' }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="createdat">
              <th mat-header-cell *matHeaderCellDef>TimeStamp </th>
              <td mat-cell *matCellDef="let element"
              [ngStyle]="{'background-color': element.memberid ? '#27ae60':'#e74c3c'}"> {{element.timestamp ? element.timestamp : 'no data'}} </td>
           </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="joinMember(row)"
              style="cursor:pointer"></tr>
        </table>
      </div>

</div>
