<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-form-field fxFlex="40">
    <input matInput placeholder="Nom de l'aliment" type="text" [(ngModel)]="nomAliment" required>
  </mat-form-field>
  <div fxFlex="10" fxLayoutAlign="start start">
    <button mat-fab color="warn" type="button" (click)="onSearch()">
        <mat-icon>save</mat-icon>
    </button>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 10px;">
  <mat-spinner *ngIf="alimentsService.foodsData === null" ></mat-spinner>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center start" style="padding: 10px;"
     *ngIf="alimentsService.foodsData" >

  <mat-card class="example-card" fxFlex="30"
            *ngFor="let item of alimentsService.foodsData.products"
            (click)="selected(item)">
    <mat-card-header>
      <h4>{{ item.product_name_fr }}</h4>
    </mat-card-header>
    <img mat-card-image [src]="item.image_url" alt="Photo of a Shiba Inu" width="200px" height="150px">
  </mat-card>

</div>
