<div fxLayoutAlign="start start">
  <form #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

      <mat-form-field fxFlex>
        <input matInput placeholder="Nom de l'iobjectif" type="text" name="nom"
          [(ngModel)]="formData.nom"
          (ngModelChange)="updateField('nom', formData.nom)"
          id="nom" required>
      </mat-form-field>
      &nbsp;&nbsp;
      <mat-form-field>
        <input matInput placeholder="Acronyme" type="text" name="acronyme"
          maxlength="3"
          [(ngModel)]="formData.acronyme"
          (ngModelChange)="updateField('acronyme', formData.acronyme)"
          id="acronyme" required>
      </mat-form-field>
      &nbsp;&nbsp;
      <button mat-fab color="warn" type="submit"
        [disabled]="form.invalid"
        *ngIf="toCreate">
          <mat-icon>save</mat-icon>
      </button>

    </form>
</div>
