<button mat-icon-button
  routerLink="/materiels"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div *ngIf="formData">

  <div fxLayout="column">

    <mat-form-field [ngStyle]="{'padding':'10px'}">
      <input matInput placeholder="Nom" type="text" id="nom" required
        [(ngModel)]="formData.nom"
        (ngModelChange)="onValueChange('nom', formData.nom)">
    </mat-form-field>

    <div fxLayout="row"  [ngStyle]="{'padding':'10px'}">
      <div [ngStyle]="{'padding-right':'30px'}">
        <label>Poste Fixe &nbsp; </label>
        <mat-slide-toggle
          color="warn"
          [formControl]="posteFixeControl"
          (change)="onValueChange('postefixe', posteFixeControl.value)">
        </mat-slide-toggle>
      </div >
      <div [ngStyle]="{'padding-left':'20px'}">
        <label>Visibilité &nbsp; </label>
        <mat-slide-toggle
          color="warn"
          [formControl]="visibilityControl"
          (change)="onValueChange('visibility', visibilityControl.value)"></mat-slide-toggle>
      </div>
    </div>


      <mat-chip-list aria-label="Fish selection"
      [selectable]="true"
      [multiple]="true">
        <mat-chip *ngFor="let categorie of categories"
        [ngStyle]="{'background-color': categorie.selected ? '#ff4757' : ''}"
        (click)="selectMe(categorie)">
          {{categorie.nom}}
        </mat-chip>
      </mat-chip-list>

    </div>

</div>
