<button mat-icon-button
  routerLink="/aliments"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div class="nom-formulaire" *ngIf="formData" >
  <h2>Aliment : <strong>{{ formData.nom }}</strong></h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" [ngStyle]="{'padding':'0 10px'}" *ngIf="formData">

  <div fxFlex="100" fxLayout="row">

    <div id="imageContainer" fxLayout="column" fxLayoutAlign="center start" style="padding:0 10px 0 0">
      <app-upload-images
      [size]="1000000"
      [width]="1000"
      [heigth]="1000"></app-upload-images>
    </div>

    <div fxLayout="column" style="padding: 50px 20px 0">
      <mat-form-field>
        <input matInput placeholder="Nom de l'aliment" type="text"
              [(ngModel)]="formData.nom"
              (ngModelChange)="updateFiel('nom', formData.nom)" required>
      </mat-form-field>
      <p class="mentiontimestamp">
        Ajouté le {{ formData.timestamp | date }} <br>
        Source : {{ formData.source }} <br>
        Ratio Omega : {{ ratio ? ratio : 'inconnu' }}
      </p>

      <div fxLayout="column" fxLayoutAlign="center start" class="check-aliment">
          <div (click)="updatemanuelle('proteinesStatut')">
            <span *ngIf="proteinesStatut=='valide'"><mat-icon class="green">done</mat-icon></span>
            <span *ngIf="proteinesStatut=='nonvalide'"><mat-icon class="red">clear</mat-icon></span>
            <label [ngClass]="proteinesStatut=='valide' ? 'green' : 'red'"> Protéines</label>
          </div>
          <div (click)="updatemanuelle('glucidesStatut')">
            <span *ngIf="glucidesStatut=='valide'"><mat-icon class="green">done</mat-icon></span>
            <span *ngIf="glucidesStatut=='nonvalide'"><mat-icon class="red">clear</mat-icon></span>
            <label [ngClass]="glucidesStatut=='valide' ? 'green' : 'red'"> Glucides</label>
          </div>
          <div (click)="updatemanuelle('lipidesStatut')">
            <span *ngIf="lipidesStatut=='valide'"><mat-icon class="green">done</mat-icon></span>
            <span *ngIf="lipidesStatut=='nonvalide'"><mat-icon class="red">clear</mat-icon></span>
            <label [ngClass]="lipidesStatut=='valide' ? 'green' : 'red'"> Lipides</label>
          </div>
          <div (click)="updatemanuelle('fibresSoirStatut')">
            <span *ngIf="fibresSoirStatut=='valide'"><mat-icon class="green">done</mat-icon></span>
            <span *ngIf="fibresSoirStatut=='nonvalide'"><mat-icon class="red">clear</mat-icon></span>
            <label [ngClass]="fibresSoirStatut=='valide' ? 'green' : 'red'"> Fibres Soir</label>
          </div>
          <div (click)="updatemanuelle('fibresMidiStatut')">
            <span *ngIf="fibresMidiStatut=='valide'"><mat-icon class="green">done</mat-icon></span>
            <span *ngIf="fibresMidiStatut=='nonvalide'"><mat-icon class="red">clear</mat-icon></span>
            <label [ngClass]="fibresMidiStatut=='valide' ? 'green' : 'red'"> Fibres Midi</label>
          </div>
      </div>
    </div>

  </div>









  <div fxFlex="100">
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Proteines / 100g" type="number"
            [(ngModel)]="formData.proteines"
             (ngModelChange)="updateFiel('proteines', formData.proteines)" required>
    </mat-form-field>
  </div>

  <div fxFlex="100">
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Glucides - Carbohydrate / 100g" type="number"
              [(ngModel)]="formData.glucides"
             (ngModelChange)="updateFiel('glucides', formData.glucides)" required>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Glucides simples / Sugars" type="number"
            [(ngModel)]="formData.glucidessimples"
             (ngModelChange)="updateFiel('glucidessimples', formData.glucidessimples)" required>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="Glucides complexe (Carbohydrate - sugars)" type="number"
            [(ngModel)]="formData.glucidescomplexe"
             (ngModelChange)="updateFiel('glucidescomplexe', formData.glucidescomplexe)" required>
    </mat-form-field>
  </div>

  <div fxFlex="100">
    <mat-form-field fxFlex="25">
      <input matInput placeholder="Lipides / fat / 100 g" type="number"
              [(ngModel)]="formData.lipides"
            (ngModelChange)="updateFiel('lipides', formData.lipides)" required>
    </mat-form-field>
    <mat-form-field fxFlex="25">
      <input matInput placeholder="Lipides satures / saturated-fat" type="number"
              [(ngModel)]="formData.lipidessatures"
            (ngModelChange)="updateFiel('lipidessatures', formData.lipidessatures)" required>
    </mat-form-field>
    <mat-form-field fxFlex="25">
      <input matInput placeholder="Lipides monoinsaturés" type="number"
              [(ngModel)]="formData.lipidesmonoinsatures"
            (ngModelChange)="updateFiel('lipidesmonoinsatures', formData.lipidesmonoinsatures)" required>
    </mat-form-field>
    <mat-form-field fxFlex="25">
      <input matInput placeholder="Lipides polyinsaturés" type="number"
              [(ngModel)]="formData.lipidesmonopolyinsatures"
            (ngModelChange)="updateFiel('lipidesmonopolyinsatures', formData.lipidesmonopolyinsatures)" required>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex="25">
    <input matInput placeholder="Lactoses" type="number"
            [(ngModel)]="formData.lactoses"
           (ngModelChange)="updateFiel('lactoses', formData.lactoses)" required>
  </mat-form-field>
  <mat-form-field fxFlex="25">
    <input matInput placeholder="Fibres / fiber" type="number"
          [(ngModel)]="formData.fibres"
           (ngModelChange)="updateFiel('fibres', formData.fibres)" required>
  </mat-form-field>
  <mat-form-field fxFlex="25">
    <input matInput placeholder="Kcal / energy (si non  fourni on peut le calculer : 1g de lucide = 4 cal; 1g de glucides = 4 cal; 1g de proteine = 4 cal; 1g de lipides = 9 cal)"
    type="number"
          [(ngModel)]="formData.kcal"
           (ngModelChange)="updateFiel('kcal', formData.kcal)" required>
  </mat-form-field>
  <mat-form-field fxFlex="25">
    <input matInput placeholder="Indice Glycémique (0 - 100)" type="number"
            [(ngModel)]="formData.ig"
           (ngModelChange)="updateFiel('ig', formData.ig)" required>
  </mat-form-field>

  <mat-form-field fxFlex="25">
    <input matInput placeholder="Sodium / sodium" type="number"
            [(ngModel)]="formData.sodium"
           (ngModelChange)="updateFiel('sodium', formData.sodium)" required>
  </mat-form-field>
  <mat-form-field fxFlex="25">
    <input matInput placeholder="Sel / salt" type="number"
            [(ngModel)]="formData.sel"
           (ngModelChange)="updateFiel('sel', formData.sel)" required>
  </mat-form-field>

  <div fxFlex="100" fxLayoutAlign="start start" style="margin-top: 10px;">
    <label class="dark-chip"> Ratio Omega</label>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="omega 3" type="number"
            [(ngModel)]="formData.omega3"
             (ngModelChange)="updateFiel('omega3', formData.omega3)" required>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <input matInput placeholder="omega 6" type="number"
            [(ngModel)]="formData.omega6"
             (ngModelChange)="updateFiel('omega6', formData.omega6)" required>
    </mat-form-field>
  </div>

</div>
