<div class="mattab">

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Connection">
      <form #form2="ngForm" autocomplete="off" (submit)="onSubmit2()" class="text-center">
        <div fxLayout="column" fxLayoutAlign="start center" class="divlog">
          <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" #email="ngModel" [(ngModel)]="userSingUp.email" id="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password" type="password" name="password" #password="ngModel" [(ngModel)]="userSingUp.password" id="password" required>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="submit" color="warn" [disabled]="form2.invalid">Sign In</button>&nbsp;
            <button mat-raised-button type="button" color="warn" (click)="connectionWithGoogle()">Google Sign In</button>
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Inscription">
      <form #form1="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form1)" class="text-center">
        <div fxLayout="column" fxLayoutAlign="start center" class="divlog">
          <mat-form-field>
            <input matInput placeholder="Email " type="email" name="email" #email="ngModel" [(ngModel)]="userRegister.email" id="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password" type="password" name="password" #password="ngModel" [(ngModel)]="userRegister.password" id="password" required>
          </mat-form-field>
          <button mat-raised-button color="warn" type="submit" [disabled]="form1.invalid">Valider</button>
        </div>
      </form>
    </mat-tab>

  </mat-tab-group>

</div>
