<div class="mattab">

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Connection">
      <form #form2="ngForm" autocomplete="off" (submit)="signIn()" class="text-center">
        <div fxLayout="column" fxLayoutAlign="start center" class="divlog">
          <mat-form-field>
            <input matInput placeholder="Email" type="email" name="email" #email="ngModel" [(ngModel)]="userSingUp.email" id="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password" type="password" name="password" #password="ngModel" [(ngModel)]="userSingUp.password" id="password" required>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button type="submit" color="warn" [disabled]="form2.invalid">Sign In</button>&nbsp;
            <button mat-raised-button type="button" color="warn" (click)="signInWithGoogle()">Google Sign In</button>
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" style="padding: 2%; color: red; max-width:500px">
            {{ errorMessageConnexion }}
          </div>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Inscription">
      <form #form1="ngForm" autocomplete="off" (ngSubmit)="signUp(form1)" class="text-center" [hidden]="isRegisterLoad">
        <div fxLayout="column" fxLayoutAlign="start center" class="divlog" *ngIf="!isRegistered">
          <mat-form-field>
            <input matInput placeholder="Email " type="email" name="email" #email="ngModel" [(ngModel)]="userRegister.email" id="email" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="password" type="password" name="password" #password="ngModel" [(ngModel)]="userRegister.password" id="password" required>
          </mat-form-field>
          <button mat-raised-button color="warn" type="submit" [disabled]="form1.invalid">Valider</button>
          <div fxLayout="column" fxLayoutAlign="center center" style="padding: 2%; color: red; max-width:400px">
            {{ errorMessageInscription }}
          </div>
        </div>

      </form>

      <div fxLayout="column" fxLayoutAlign="start center" *ngIf="isRegisterLoad" style="padding: 2%; color: red; max-width:400px">
        <div style="padding: 5%;"><mat-spinner color="warn"></mat-spinner></div>
        Demande d'inscription en cours.
      </div>

      <div fxLayout="column" fxLayoutAlign="start center" *ngIf="isRegistered" style="padding: 2%; color: red; max-width:400px">
        <div style="padding: 5%;"><mat-spinner color="warn"></mat-spinner></div>
        Votre demande d'inscription est en cours de traitement
      </div>


    </mat-tab>

  </mat-tab-group>

</div>
