<button mat-icon-button class="button-right-modal"
  *ngIf="!toCreate && !toEdit"
  (click)="onCreate()" type="button">
    <mat-icon>add</mat-icon>
</button>

<button mat-icon-button class="button-right-modal"
  (click)="closeDialog()"
  *ngIf="toCreate || toEdit" type="button">
    <mat-icon>close</mat-icon>
</button>

<h2 class="h2-modal">Gestion des Categories {{ typecat }}</h2>

<ng-template #loading>
  <br><br><br><br>
  <mat-spinner color="warn"></mat-spinner>
  <br><br>
</ng-template>


<div *ngIf="!toCreate && !toEdit">
  <mat-chip-list *ngIf="categories; else loading">
    <mat-chip *ngFor="let cat of categories">
      {{ cat.nom }}
      <span class="acronyme">{{ cat.acronyme }}</span>
      <mat-icon (click)="onDelete(cat)">cancel</mat-icon>
      <mat-icon (click)="onEdit(cat)">edit</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>


<div fxLayoutAlign="start start" *ngIf="toCreate || toEdit">
  <form #form2="ngForm" autocomplete="off" (ngSubmit)="onSubmit2(form2)">

      <mat-form-field fxFlex>
        <input matInput placeholder="Nom de la Catégorie" type="text" name="nom"
          [(ngModel)]="formDataCategorie.nom"
          (ngModelChange)="updateField('nom', formDataCategorie.nom)"
          id="nom" required>
      </mat-form-field>
      &nbsp;&nbsp;

      <mat-form-field>
        <input matInput placeholder="Acronyme" type="text" name="acronyme"
          maxlength="3"
          [(ngModel)]="formDataCategorie.acronyme"
          (ngModelChange)="updateField('acronyme', formDataCategorie.acronyme)"
          id="acronyme" required>
      </mat-form-field>
      &nbsp;&nbsp;

      <mat-form-field fxFlex="100" *ngIf="data == 'exe_cat'">
        <mat-label>Durée</mat-label>
        <mat-select [(ngModel)]="formDataCategorie.duree"
                    (ngModelChange)="updateField('duree', formDataCategorie.duree)"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let duree of liste.nbrdureeexercice"
                      matNativeControl
                      [value]="duree">
              {{duree}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;

      <mat-form-field fxFlex="100" *ngIf="data == 'exe_cat'">
        <mat-label>Repos</mat-label>
        <mat-select [(ngModel)]="formDataCategorie.repos"
                    (ngModelChange)="updateField('repos', formDataCategorie.repos)"
                    [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let repos of liste.nbrreposexercice"
                      matNativeControl
                      [value]="repos">
              {{repos}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;&nbsp;



      <button mat-fab color="warn" type="submit"
        [disabled]="form2.invalid"
        *ngIf="toCreate">
          <mat-icon>save</mat-icon>
      </button>
    </form>
</div>

<h2 class="h2-modal" *ngIf="toEdit">
  Nombre d'exercices affiliés à la catégorie : <strong>{{ formDataCategorie.exeids.length }}</strong>
</h2>
