<h3>Categories Section</h3>
<button mat-icon-button color="accent" (click)="onCreate()">
  <mat-icon>add</mat-icon>
</button>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp | date: 'M/dd' }} </td>
  </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="acro">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acronyme </th>
      <td mat-cell *matCellDef="let element"> {{element.acro}} </td>
    </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="onEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<div class="mattab" *ngIf="toCreate || toEdit">
  <form #form2="ngForm" autocomplete="off" (ngSubmit)="onSubmit2(form2)" class="text-center">
    <div fxLayout="column" fxLayoutAlign="start center" class="divlog">

      <mat-form-field>
        <input matInput placeholder="nom " type="text" name="nom"
        [(ngModel)]="formDataCategorie.nom"
        (ngModelChange)="updateField('nom', formDataCategorie.nom)"
        id="nom" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="acronyme " type="text" name="acro"
        [(ngModel)]="formDataCategorie.acro"
        (ngModelChange)="updateField('acro', formDataCategorie.acro)"
        id="acro" required>
      </mat-form-field>

      <button mat-raised-button color="warn" type="submit"
      [disabled]="form2.invalid"
      *ngIf="toCreate">Valider</button>
    </div>
  </form>
</div>
