<div class="mattab" *ngIf="formData">
    <div fxLayout="column" fxLayoutAlign="start center" class="divlog">

      <mat-form-field>
        <input matInput placeholder="nom " type="text" name="nom"
        #nom="ngModel" [(ngModel)]="formData.nom"
        (ngModelChange)="onChangeValue('nom', formData.nom)"
        id="nom" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="acro " type="text" name="acro"
        #acro="ngModel" [(ngModel)]="formData.acro"
        (ngModelChange)="onChangeValue('acro', formData.acro)"
        id="acro" required>
      </mat-form-field>

    </div>
</div>
