<button id="mainmenu" mat-icon-button class="main-menu-trigger-button"
  color="black"
  [matMenuTriggerFor]="menu"
  [ngStyle.xs]="{ 'left':'20px', 'top':'20px' }"
  >
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu" yPosition="below" xPosition="before" class="indide-menu">

  <button mat-menu-item routerLink="./home">
    <mat-icon>home</mat-icon>
    <span>Accueil</span>
  </button>
  <button mat-menu-item routerLink="./exercices">
    <mat-icon>explicit</mat-icon>
    <span>Exercices</span>
  </button>
  <button mat-menu-item routerLink="./materiels">
    <mat-icon>fitness_center</mat-icon>
    <span>Matériels</span>
  </button>
  <button mat-menu-item routerLink="./objectifs">
    <mat-icon>assignment</mat-icon>
    <span>Objectifs</span>
  </button>
  <button mat-menu-item routerLink="./niveaux">
    <mat-icon>bookmarks</mat-icon>
    <span>Niveaux</span>
  </button>
  <button mat-menu-item routerLink="./pathologies">
    <mat-icon>healing</mat-icon>
    <span>Pathologies</span>
  </button>
  <!-- <button mat-menu-item routerLink="./questionnaires">
      <mat-icon>question_answer</mat-icon>
    <span>Questionnaires</span>
  </button> -->

  <mat-divider></mat-divider>

  <!-- *ngIf="auth.user | async as user; else login" -->
  <button  mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Sign out</span>
  </button>
  <ng-template #login>
    <button mat-menu-item  routerLink ='/login'>
      <!-- <mat-icon>lock</mat-icon> -->
      <span>Sign In</span>
    </button>
  </ng-template>

</mat-menu>
