

.main-menu-trigger-button {
  position: absolute !important;
  top: 30px;
  left: 30px;
}
.main-menu-trigger-button .mat-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  color: #999;
  transition: all 0.1s;
}
.main-menu-trigger-button:hover .mat-icon {
  color: #000;
}


button mat-icon {
  transition: all 0.2s;
}
button:hover mat-icon {
  color: #FE5000;
}
button span {
  transition: all 0.2s;
}
button:hover span {
	color: #FE5000;
}
