mat-form-field {
  padding: 0 6px;
}

mat-radio-button {
  padding: 0 10px;
}

label {
  padding: 6px 10px;
  border-radius: 5px;
}

#imagelabel{
  text-align: center;
  background-color: black;
  color: white;
}

#imageContainer{
  margin-top: 20px;
}

.check-aliment {
  font-size: 0.9em;
  line-height: 0.8em;
  margin:10px 0 30px;
  padding: 0;
}
.check-aliment mat-icon{
  vertical-align: middle;
}
.check-aliment label {
  padding: 0;
}
