<div *ngIf="displayList">

    <button mat-icon-button
    type="button"
    class="button-right" (click)="goToFormForAdd()" >
        <mat-icon>add</mat-icon>
    </button>


    <h2>Liste des séries d'exercices</h2>

    <div [ngStyle]="{'padding':'0 10px'}">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: none;">
            <ng-container matColumnDef="nom">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.nom }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="consigne">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Consigne</mat-header-cell>
              <mat-cell *matCellDef="let element;"> {{ element.consigne }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
                <mat-cell *matCellDef="let element;" class="timestamp"> {{element.timestamp | date }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="senior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Senior</mat-header-cell>
              <mat-cell *matCellDef="let element;"> {{ element.senior }} </mat-cell>
          </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.type }} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="pathology">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pathologie</mat-header-cell>
                <mat-cell *matCellDef="let element;">
                  {{element.pathology}}
                </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element;" style="text-align: right">
                  <button type="button" (click)="goToFormForEdit(element.id)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button type="button" (click)="onDelete(element.id)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

</div>


<div *ngIf="displayForm">

  <button mat-icon-button (click)="returnTolist()" type="button" class="button-right">
      <mat-icon>close</mat-icon>
  </button>

  <h2 *ngIf="isClickToEdit"> Éditer la série <strong>{{ nom }}</strong>  </h2>
  <h2 *ngIf="isClickToAdd"> Ajouter une série d'exercice : <strong>{{ nom }}</strong> </h2>

  <div fxLayout="column" style="padding: 0 10px;">

    <form [formGroup]="formulaire" (ngSubmit)="onAddOrEditSerieFixe()">

      <div class="part1" *ngIf="part1" fxLayout="column">
        <mat-form-field fxFlex="100">
          <input (keyup)="onKeyUp()" matInput type="text" formControlName="nom" placeholder="Nom de la série d'exercices fixe">
        </mat-form-field>

        <div fxFlex="100">
          <label class="dark-chip"> Type :</label>
          <mat-radio-group (change)="clickOnType()" color="warn" formControlName="type">
            <mat-radio-button value="echauffement" class="span-radio-button">
              Echauffement
            </mat-radio-button>
            <mat-radio-button value="calme" class="span-radio-button">
              Retour au calme
            </mat-radio-button>
            <mat-radio-button value="pathologies" class="span-radio-button">
              Traitement de pathologies
            </mat-radio-button>
            <mat-radio-button value="test" class="span-radio-button">
              Test de performance
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div [ngStyle]="{'padding':'10px'}" fxLayoutAlign="end start">
          <button [disabled]="!nomIsEntered || !typeIsChoose" (click)="showPart(); $event.preventDefault();" type="button" mat-fab color="warn">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>

      <div class="part2" *ngIf="part2" fxLayout="row wrap">
        <div fxFlex="100"s>
          <mat-form-field fxFlex="100">
            <input matInput type="text" formControlName="consigne" placeholder="Préciser une consigne pour cette série d'exercice.">
          </mat-form-field>
        </div>
        <div fxFlex="100" style="padding:10px 0">
          <label class="dark-chip"> Senior :</label>
          <mat-radio-group color="warn" formControlName="senior">
            <mat-radio-button value="uniquement" class="span-radio-button">
              Seniors uniquement
            </mat-radio-button>
            <mat-radio-button value="hors" class="span-radio-button">
              Pour les non-seniors
            </mat-radio-button>
            <mat-radio-button value="avec" class="span-radio-button">
              Pour tout le monde (seniors compris)
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="100">
          <mat-form-field color="warn" fxFlex="100" style="padding: 10px 10px 0">
            <mat-label>Pathologie</mat-label>
            <mat-select formControlName="pathology" multiple>
              <mat-option *ngFor="let pathology of pathologies" [value]="pathology.id">
                {{pathology.details}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="displayEditForm" style="padding: 0px 10px" fxFlex="100" fxLayout="row wrap">
          <mat-form-field fxFlex="95">
            <input matInput placeholder="Ajouter un exercice à la série" formControlName="exercices" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option (onSelectionChange)="activeButton()" (click)="onAddExercice(); $event.preventDefault();" *ngFor="let exercice of exerciceList" [value]="exercice">
                <span>{{ exercice.nom }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button type="button" [disabled]="disabled" mat-icon-button matSuffix
            (click)="onAddExercice(); $event.preventDefault();">
              <mat-icon>add</mat-icon>
          </button>


          <div fxLayout="column"  fxFlex="100" formArrayName="exo" class="liste-exe" *ngFor="let ex of getExo().controls; let i = index;">
              <div fxFlex="100">
                <div fxFlex="5"><span class="bulle-acro">{{ i+1 }}</span></div>
                <div fxFlex="5">
                  <mat-icon *ngIf="exerciceAdded[i].visibility" color="black">visibility</mat-icon>
                  <mat-icon *ngIf="!exerciceAdded[i].visibility" color="black">visibility_off</mat-icon>
                </div>
                <div fxFlex="80"> {{ exerciceAdded[i].nom }} </div>
                <div fxFlex="5">
                  <button [routerLink]="['./../../exercices/', exerciceAdded[i].id]" mat-button><mat-icon>link</mat-icon></button>
                </div>
                <div fxFlex="5">
                  <button (click)="clearExo(i)" mat-button><mat-icon>clear</mat-icon></button>
                </div>
              </div>
              <div *ngIf="displayExercice" fxFlex="100">
                  <div [formGroupName]="i" fxLayoutAlign="space-between">
                      <mat-form-field *ngIf="exos">
                        <mat-label>Nombre de repetition senior</mat-label>
                        <mat-select formControlName="nbreReptSenior">
                          <mat-option *ngFor="let nbr of nbreReptSenior" [value]="nbr">
                            {{ nbr }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="exos">
                        <mat-label>Nombre de séries</mat-label>
                        <mat-select formControlName="nbreSerie">
                          <mat-option *ngFor="let nbr of nbreSerie" [value]="nbr">
                            {{ nbr }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="exos">
                        <mat-label>Temps de repos</mat-label>
                        <mat-select formControlName="nbreTempsDeRepos">
                          <mat-option *ngFor="let nbr of nbreTempsDeRepos" [value]="nbr">
                            {{ nbr }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field *ngIf="exoTest">
                        <mat-label>Nbre Répétion Exercice</mat-label>
                        <mat-select formControlName="nbreReptExercices">
                          <mat-option *ngFor="let nbr of nbreReptExercices" [value]="nbr">
                            {{ nbr }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                  </div>
              </div>
          </div>
        </div>

        <div fxFlex="100" [ngStyle]="{'padding':'10px'}" fxLayoutAlign="end start">
          <button [disabled]="formulaire.invalid || disabled2" type="submit" mat-fab color="warn">
            <mat-icon>save</mat-icon>
          </button>
        </div>
      </div>

    </form>

  </div>

</div>
