<div *ngIf="isDispalayList">

    <button mat-icon-button
    type="button"
    class="button-right" (click)="displayAdd()" >
        <mat-icon>add</mat-icon>
    </button>


    <h2>Series d'exercices</h2>

    <div [ngStyle]="{'padding':'0 10px'}">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="box-shadow: none;">
            <ng-container matColumnDef="nom">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.nom }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="timestamp">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</mat-header-cell>
                <mat-cell *matCellDef="let element;" class="timestamp"> {{element.timestamp | date }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="senior">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Senior</mat-header-cell>
              <mat-cell *matCellDef="let element;"> {{ element.senior }} </mat-cell>
          </ng-container>

            <ng-container matColumnDef="objectifJour">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Objectif du jour</mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{ element.objectifJour }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idPathologie">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pathologie</mat-header-cell>
                <mat-cell *matCellDef="let element;"> {{element.idPathologie}} </mat-cell>
            </ng-container>



            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element;" style="text-align: right">
                <button
                type="button"
                (click)="onEdit(element.id)"
                mat-icon-button><mat-icon>edit</mat-icon></button>
                <button
                type="button"
                (click)="onDelete(element.id)"
                    mat-icon-button
                    ><mat-icon>delete</mat-icon></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>



<div *ngIf="isdisplayedAdd ">

    <button mat-icon-button
    (click)="hiddenAdd()"
    type="button"
    class="button-right">
        <mat-icon>close</mat-icon>
  </button>

  <h2>Ajouter une série d'exercice</h2>

  <form [formGroup]="serieFormAdd" fxLayout="column"  (ngSubmit)="onSubmit()">

    <div fxLayout="row wrap" style="padding: 0 10px;">

      <mat-form-field fxFlex="100">
          <input matInput type="text" formControlName="nom" placeholder="Nom de la série d'exercices fixe" required>
      </mat-form-field>

      <!-- <mat-form-field fxFlex="50">
          <mat-label>Objectif jour</mat-label>
          <mat-select formControlName="objectifJour">
            <mat-option color="warn" required
              *ngFor="let objectif of objectifs"
              [value]="objectif.nom">{{ objectif.nom }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="50" style="padding: 0 0 0 10px">
          <mat-label>Pathologie</mat-label>
          <mat-select formControlName="idPathologie">
            <mat-option color="warn" required
              *ngFor="let pathology of pathologies"
              [value]="pathology.id">
                {{pathology.details}}
            </mat-option>
          </mat-select>
      </mat-form-field> -->

      <div [ngStyle]="{'padding':'10px'}">
          <button type="submit" mat-fab color="warn" [disabled]="serieFormAdd.invalid">
              <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
      </div>
    </div>
  </form>

</div>






<div *ngIf="isDisplayEdit">

    <button mat-icon-button (click)="hiddenEdit()" type="button" class="button-right">
      <mat-icon>close</mat-icon>
    </button>

    <h2>Editer une série d'exercice</h2>

    <div style="padding: 0 10px;">
        <form [formGroup]="serieFormEdit" *ngIf="dataIsLoad" fxLayout="column"  (ngSubmit)="onUpdate()">

            <mat-form-field style="padding: 10px">
                <input matInput type="text" formControlName="nom" placeholder="nom">
            </mat-form-field>

            <div>
              <label class="dark-chip"> Senior :</label>
              <mat-radio-group color="warn" formControlName="senior">
                <mat-radio-button value="uniquement" class="span-radio-button">
                  Seniors uniquement
                </mat-radio-button>
                <mat-radio-button value="hors" class="span-radio-button">
                  Pour les non-seniors
                </mat-radio-button>
                <mat-radio-button value="avec" class="span-radio-button">
                  Pour tout le monde (seniors compris)
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <mat-form-field style="padding: 10px; width: 95%">
                <mat-label>Objectif jour</mat-label>
                <mat-select formControlName="objectifJour">
                  <mat-option *ngFor="let objectif of objectifs" [value]="objectif.nom">{{ objectif.nom }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="padding: 10px; width: 95%">
                <mat-label>Pathologie</mat-label>
                <mat-select formControlName="idPathologie" multiple>
                  <mat-option *ngFor="let pathology of pathologies" [value]="pathology.id">{{pathology.details}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div [ngStyle]="{'padding':'10px'}">
                <button type="submit" mat-fab color="warn"
                  [disabled]="serieFormEdit.invalid">
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>

        </form>
    </div>
</div>



<div *ngIf="selectExercices">

  <button mat-icon-button
    (click)="returnToAdd()"
    type="button"
    class="button-right">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <h2>Ajouter exercices</h2>

    <div fxLayout="column">

      <form action="" *ngIf="isDisplayFormExo" [formGroup]="exerciceForm">
        <mat-form-field fxFlex="80">
          <input matInput placeholder="Exercices" formControlName="exercice" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let exercice of exerciceList" [value]="exercice">
              <span>{{ exercice.nom }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button type="button" (click)="onAddExercice()" [disabled]="exerciceForm.invalid" mat-button fxFlex="20">
          Add
        </button>
      </form>

      <div [ngStyle]="{'padding':'10px'}">
        <mat-list>
          <mat-list-item fxFlex="50" *ngFor="let exercice of exerciceAdded; let i = index;">
            <div fxFlex="90"> {{ exercice.nom }} </div>
            <div fxFlex="10"><button (click)="clearExo(i)" mat-button color="warn"><mat-icon>clear</mat-icon></button></div>
          </mat-list-item>
        </mat-list>
      </div>

      <div [ngStyle]="{'padding':'10px'}">
        <button [disabled]="!exerciceAddLenght" (click)="onAddSerieFixe()" type="submit" mat-fab color="warn">
            <mat-icon>save</mat-icon>
        </button>
    </div>
    </div>




</div>
