<button mat-icon-button
  routerLink="/materiels/materiel-form"
  type="button"
  class="button-right">
    <mat-icon>add</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">

  <h2>Liste du Matériel</h2>

  <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{'box-shadow': 'none !important'}">

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du matériel</th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de création</th>
      <td mat-cell *matCellDef="let element" class="timestamp"> {{element.timestamp | date}} </td>
    </ng-container>

    <ng-container matColumnDef="postefixe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Poste Fixe </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon *ngIf="element.postefixe" (click)="updateField(true,'postefixe', element)">check</mat-icon>
        <mat-icon *ngIf="!element.postefixe" (click)="updateField(false,'postefixe', element)">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="visibility">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Visibilité</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon *ngIf="element.visibility" (click)="updateField(true,'visibility', element)">visibility</mat-icon>
        <mat-icon *ngIf="!element.visibility" (click)="updateField(false,'visibility', element)">visibility_off</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégories</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <span *ngFor="let cat of element.categories" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align':'right'}">
        <button mat-icon-button [routerLink]="['/materiels', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

