<div class="mattab">

      <form #form1="ngForm" autocomplete="off" (ngSubmit)="onSubmit()" class="text-center">
        <div fxLayout="column" fxLayoutAlign="start center" class="divlog">

          <mat-form-field>
            <input matInput placeholder="Nom " type="text" name="nom"
            #nom="ngModel" [(ngModel)]="formData.nom" id="nom" required>
          </mat-form-field>

          <section class="example-section">
            <label class="example-margin">PosteFixe </label>
               <mat-slide-toggle class="example-margin"
               [formControl]="posteFixeControl">
               </mat-slide-toggle>
          </section>

          <section class="example-section">
            <label class="example-margin">Visibility </label>
               <mat-slide-toggle class="example-margin"
               [formControl]="visibilityControl"></mat-slide-toggle>
          </section>

            <app-categories-section [noeud]="'mat_cat'"></app-categories-section>

          <button mat-raised-button color="warn" type="submit" [disabled]="form1.invalid">Valider</button>
        </div>
      </form>

</div>
