<button mat-icon-button
  routerLink="/materiels"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div fxLayout="column">

  <h2>Ajout d'un nouveau matériel</h2>

  <form #form1="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">

    <div fxLayout="column">

      <mat-form-field [ngStyle]="{'padding':'10px'}">
        <input matInput placeholder="Nom du matériel" type="text"
          name="nom" #nom="ngModel" [(ngModel)]="formData.nom" id="nom" required>
      </mat-form-field>

      <div fxLayout="row wrap" [ngStyle]="{'padding':'10px'}">
        <div>
          <label>Poste Fixe </label>
          <mat-slide-toggle color="warn"
            [formControl]="posteFixeControl">
          </mat-slide-toggle>
        </div>
        <div [ngStyle]="{'padding-left':'30px'}">
          <label>Visibilité </label>
          <mat-slide-toggle color="warn"
            [formControl]="visibilityControl">
          </mat-slide-toggle>
        </div>
      </div>

      <div fxLayout="row">

        <button mat-fab type="button" color="black"
          [ngStyle]="{'margin':'10px 5px 10px 10px'}"
          (click)="goBack()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <button mat-fab type="submit" color="warn"
          [ngStyle]="{'margin':'10px 0 10px 5px'}"
          [disabled]="!form1.form.valid">
          <mat-icon>save</mat-icon>
        </button>
      </div>

    </div>
  </form>
