<button mat-icon-button
  type="button"
  class="button-right"
  (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">
    
    <h2>Questionnaires</h2>

    <mat-accordion *ngFor="let questionnaire of questionnairesList">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ questionnaire.name }}</h3> 
            </mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="end">
              <button mat-button (click)="onEdit(questionnaire)" ><mat-icon>edit</mat-icon></button>
              <button mat-button (click)="onDelete(questionnaire.id)"><mat-icon>delete</mat-icon></button>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <h4>Questions</h4>
              <button mat-button>Add question <mat-icon>add</mat-icon></button>
            </div>
          </div>
        </mat-expansion-panel>

    </mat-accordion>
    
</div>
