<h3>Exercice Section</h3>

<button mat-raised-button color="warn" routerLink="/exercices/exercice-form">Create</button>
<div class="container" fxLayout="row wrap" fxLayoutGap="3px"
[ngStyle]="{ 'margin-top':'20px' }" *ngIf="allExercice">

  <mat-card class="example-card" *ngFor="let exercice of allExercice">
      <mat-card-header>
        <mat-card-title>{{ exercice.nom }} </mat-card-title>
        <mat-card-subtitle>{{ exercice.timestamp | date: 'M/dd' }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ exercice.description}}
        </p>
        <mat-list role="list">
          <mat-list-item *ngFor="let item of exercice.categories">{{ item }}</mat-list-item>
        </mat-list>

      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="accent" [routerLink]="['/exercices', exercice.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="onDelete(exercice)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
  </mat-card>
</div>
