<button mat-icon-button
  routerLink="/exercices"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>ère étape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-form-field fxFlex="20">
          <input matInput placeholder="Numéro" formControlName="numero" type="number" required>
        </mat-form-field>

        <mat-form-field fxFlex="80">
          <input matInput placeholder="Nom de l'exercice" formControlName="nom" required>
        </mat-form-field>

      </div>
    </form>

    <div fxLayout="row" fxFlex="100">
      <div fxFlex="100" class="btnClass" fxLayoutAlign="end end">
        <button mat-fab color="warn"
        [disabled]="firstFormGroup.invalid"
        (click)="onSubmit()">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

