<button mat-icon-button
  type="button"
  class="button-right"
  (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<button mat-icon-button
  type="button"
  class="button-search"
  routerLink="./search">
    <mat-icon>search</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de l'aliment </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>


    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
      <td mat-cell *matCellDef="let element"> {{element.source}} </td>
    </ng-container>


    <ng-container matColumnDef="valide">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valide </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.valide" (click)="updateField(true,'valide', element)">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="!element.valide" (click)="updateField(false,'valide', element)">close</mat-icon>
      </td>
    </ng-container>


    <ng-container matColumnDef="proteines">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Protéines </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.proteinesstatut === 'valide'" class="green">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.proteinesstatut === 'nonvalide'" class="red">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="glucides">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Glucides </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.glucidesstatut === 'valide'" color="success">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.glucidesstatut === 'nonvalide'">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="lipides">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lipides </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.lipidesstatut === 'valide'" color="warn">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.lipidesstatut === 'nonvalide'">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="fibressoir">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fibres-Soir </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.fibressoirstatut === 'valide'" color="warn">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.fibressoirstatut === 'nonvalide'">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="fibresmidi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fibres-Midi </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.fibresmidistatut === 'valide'" color="warn">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.fibresmidistatut === 'nonvalide'">close</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="fibresglucides">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fibres-Glucides </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'padding-left':'10px'}">
        <mat-icon class="icon-but" *ngIf="element.fibresglucidesstatut === 'valide'" color="warn">check</mat-icon>
        <mat-icon class="icon-but" *ngIf="element.fibresglucidesstatut === 'nonvalide'">close</mat-icon>
      </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align':'right'}">
        <button mat-icon-button [routerLink]="['/aliments', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
