<button mat-icon-button
  type="button"
  class="button-right"
  (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">

  <h2>Liste des Pathologies</h2>

  <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{'box-shadow': 'none !important'}">

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de la pathologie</th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp</th>
      <td mat-cell *matCellDef="let element" class="timestamp"> {{element.timestamp | date}} </td>
    </ng-container>

    <!-- Acronyme Column -->
    <ng-container matColumnDef="acronyme">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acronyme </th>
        <td mat-cell *matCellDef="let element">
          <span class="bulle-acro">{{element.acronyme}}</span>
        </td>
    </ng-container>

    <!-- Details Column -->
    <!-- <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
      <td mat-cell *matCellDef="let element"> {{element.details}} </td>
    </ng-container> -->

    <!-- Details Column -->
    <ng-container matColumnDef="mat_cat">
      <th mat-header-cell *matHeaderCellDef> Mat_Cat </th>
      <td mat-cell *matCellDef="let element"> </td>
      <!-- <td mat-cell *matCellDef="let element" (click)="mat_cat_dialog()"> </td> -->
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align':'right'}">
        <button mat-icon-button (click)="onUpdate(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

