<button mat-icon-button
  type="button"
  class="button-right"
  (click)="onCreate()">
    <mat-icon>add</mat-icon>
</button>

<div [ngStyle]="{'padding':'0 10px'}">

  <h2>Liste des pathologies et des points faibles</h2>

  <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{'box-shadow': 'none !important'}">

    <!-- Name Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element">
        <span class="button-cercle" *ngIf="element.type=='pathologie'">PATHOS</span>
        <span class="button-cercle" *ngIf="element.type=='pointfaible'">FAIBLE</span>
      </td>
    </ng-container>

    <!-- Acronyme Column -->
    <ng-container matColumnDef="acronyme">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acronyme </th>
        <td mat-cell *matCellDef="let element">
          <span class="bulle-acro">{{element.acronyme}}</span>
        </td>
    </ng-container>

    <!-- Materiels Categorie Column -->
    <ng-container matColumnDef="mat_cat">
      <th mat-header-cell *matHeaderCellDef> Materiels </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let cat of element.materielsCategorie" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
      </td>
    </ng-container>

    <!-- Exercice Catégorie Column -->
    <ng-container matColumnDef="exe_cat">
      <th mat-header-cell *matHeaderCellDef> Exercices </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let cat of element.exercicesCategorie" class="bulle-acro"><strong>{{ cat.acronyme }}</strong></span>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'text-align':'right'}">
        <button mat-icon-button (click)="onUpdate(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

