<button mat-icon-button
  routerLink="/programmes"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div class="nom-formulaire" *ngIf="formData">
  <h2>Programme : <strong>{{ formData.numero }}</strong></h2>
</div>

      <div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="formData">

        <mat-form-field fxFlex="20">
          <input matInput placeholder="Numéro" required
          [(ngModel)]="formData.numero"
          (ngModelChange)="updateField('numero', formData.numero)">
        </mat-form-field>

        <mat-form-field fxFlex="20">
          <input matInput placeholder="Acronyme" type="text" required
          [(ngModel)]="formData.acronyme" maxlength="4"
          (ngModelChange)="updateField('acronyme', formData.acronyme)">
        </mat-form-field>

        <mat-form-field fxFlex="30">
          <mat-label>Nombre de semaines</mat-label>
          <mat-select
          [(ngModel)]="formData.nbrsemaine"
          (ngModelChange)="updateField('nbrsemaine', formData.nbrsemaine)">
            <mat-option matNativeControl value="1">1</mat-option>
            <mat-option matNativeControl value="2">2</mat-option>
            <mat-option matNativeControl value="3">3</mat-option>
            <mat-option matNativeControl value="4">4</mat-option>
            <mat-option matNativeControl value="5">5</mat-option>
            <mat-option matNativeControl value="5">6</mat-option>
            <mat-option matNativeControl value="5">7</mat-option>
            <mat-option matNativeControl value="5">8</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="30">
          <mat-label>Fréquence hebdomadaire</mat-label>
          <mat-select
          [(ngModel)]="formData.frequence"
          (ngModelChange)="updateField('frequence', formData.frequence)"
          [disabled]="extraControl.value">
            <mat-option matNativeControl *ngFor="let item of listeFrequence"
                        [value]="item"> {{ item }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="30" style="margin: 10px 0 0 10px">
          <label class="dark-chip" style="margin-right:10px">Extra &nbsp; </label>
          <mat-slide-toggle color="warn"
            [formControl]="extraControl"
            (change)="updateField('extra', extraControl.value)"></mat-slide-toggle>
        </div>

        <div fxFlex="65" *ngIf="extraControl.value" fxLayoutAlign="end end" style="margin: 10px 0 0 10px">
          <label>Durée : </label>
          <mat-radio-group color="warn"
          [(ngModel)]="formData.duree"
          (ngModelChange)="updateField('duree', formData.duree)">
            <mat-radio-button value="30" class="span-radio-button">
              30 minutes
            </mat-radio-button>
            <mat-radio-button value="45" class="span-radio-button">
              45 minutes
            </mat-radio-button>
            <mat-radio-button value="60" class="span-radio-button">
              60 minutes
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- <mat-form-field fxFlex="40" *ngIf="extraControl.value">
          <mat-label>Durée</mat-label>
          <mat-select
          [(ngModel)]="formData.duree"
          (ngModelChange)="updateField('duree', formData.duree)">
            <mat-option matNativeControl value="30">30</mat-option>
            <mat-option matNativeControl value="45">45</mat-option>
            <mat-option matNativeControl value="60">60</mat-option>
          </mat-select>
        </mat-form-field> -->

        <div fxFlex="100" fxLayout="row" style="padding:10px;">

          <div fxFlex="17">
            <label class="dark-chip"> Niveau</label>
            <span class="bulle-acro" *ngIf="!toChangeNiveau && formData.niveau">
              N {{ formData.niveau.acronyme}} </span>
            <button mat-icon-button
              (click)="toChangeNiveau = true"
              *ngIf="!toChangeNiveau && formData.niveau">
                <mat-icon>close</mat-icon>
            </button>
          </div>

          <div fxFlex="53">
            <mat-radio-group color="warn"
              [(ngModel)]="formData.niveau"
              (ngModelChange)="updateField('niveau', formData.niveau)"
              *ngIf="!formData.niveau || toChangeNiveau">
              <mat-radio-button *ngFor="let niveau of niveaux"
              [value]="niveau" class="span-radio-button">
                N {{ niveau.acronyme }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div fxFlex="30" fxLayout="row"
            *ngIf="showCustompointsfaibles">
              <label>Custom point Faible</label>
              <mat-slide-toggle color="warn"
                [formControl]="custompointsfaiblesControl"
                (change)="updateField('custompointsfaibles', custompointsfaiblesControl.value)"></mat-slide-toggle>
          </div>

        </div>

        <div fxFlex="100" fxLayout="column" class="objectif" style="margin-bottom:10px">
          <div style="margin:0 10px 10px">
            <label class="dark-chip"> Objectifs</label>
            <button  mat-icon-button (click)="showObjectif = true" *ngIf="!showObjectif" >
             <mat-icon>visibility</mat-icon>
            </button>
            <button  mat-icon-button (click)="showObjectif = false" *ngIf="showObjectif" >
              <mat-icon>visibility_off</mat-icon>
             </button>
          </div>
          <div *ngIf="showObjectif" >
            <mat-checkbox
            color="warn"
            *ngFor="let objectif of objectifsSelected"
            (change)="onObjectifSelected($event, objectif)"
            checked="true">{{ objectif.nom }}</mat-checkbox>
            <mat-checkbox
            color="warn"
            *ngFor="let objectif of objectifsNotSelected"
            (change)="onObjectifSelected($event, objectif)"
            >{{ objectif.nom }}</mat-checkbox>
          </div>
        </div>

        <div fxFlex="100" style="margin: 10px">
          <mat-chip-list #chipList aria-label="Semaine du Niveau">
            <mat-chip class="dark-chip tt-upper br-5">Semaine du niveau</mat-chip>
            <mat-chip
              *ngFor="let item of semaineNiveauSelected; let i = index"
              [ngStyle]="{
                'color': '#FFF',
                'background-color': '#000'
              }">
              Sem. {{ item }}
              <button  mat-icon-button
                        (click)="deleteSemaineNiveau(i)">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-chip>

            <button *ngIf="!toAddSemaineNiveau"  mat-icon-button
                        (click)="toAddSemaineNiveau = true">
                  <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="toAddSemaineNiveau" mat-icon-button
                        (click)="toAddSemaineNiveau = false">
                  <mat-icon>close</mat-icon>
                </button>
          </mat-chip-list>
        </div>

        <div fxFlex="100" *ngIf="toAddSemaineNiveau" style="margin: 10px">
          <mat-chip-list #chipList aria-label="Semaine du Niveau">
            <mat-chip
              *ngFor="let item of allListeSemaineNiveau"
              (click)="addSemaineNiveau(item)">
              {{ item }}
            </mat-chip>
          </mat-chip-list>
        </div>

        <!-- SECTION DES SEANCES -->

        <div fxFlex="100" fxLayout="row wrap"
            *ngIf="seancesOfProgramme && seancesOfProgramme.length != 0" >

          <div fxFlex="100" fxLayout="row wrap"
          *ngFor="let item of seancesOfProgramme; let i = index"
          style="padding: 10px; margin: 10px"
          class="programme">

          <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
            <h3> SÉANCE N°{{ i+1 }} </h3>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="end start">
            <button mat-icon-button (click)="addBloc(i)"
              matTooltip="Ajouter un bloc à la séance" matTooltipPosition="after">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSeance(i)"
              matTooltip="Supprimer la séance" matTooltipPosition="after">
                <mat-icon>delete</mat-icon>
            </button>
          </div>


            <!-- <div fxFlex="100" *ngIf="seancesOfProgramme[i].echauffement" style="margin:10px 0">
              <label class="dark-chip"> Sélection de l'échauffement </label>
              <span class="bulle-acro"
                    *ngIf="seancesOfProgramme[i].echauffement">
                    {{ seancesOfProgramme[i].echauffement.nom }} </span>
              <button mat-icon-button
              (click)="seancesOfProgramme[i].echauffement = null">
                  <mat-icon>close</mat-icon>
              </button>
            </div>
            <mat-form-field fxFlex="100" *ngIf="!seancesOfProgramme[i].echauffement">
              <mat-label>Echauffement</mat-label>
              <mat-select>
                <mat-option matNativeControl
                *ngFor="let item of echauffSerieFixe"
                [value]="item"
                (click)="addEchauffement(i, item)"> {{ item.nom }} </mat-option>
              </mat-select>
            </mat-form-field> -->

            <!-- <div fxFlex="100">
              <div fxFlex="50">
                <span class="title-gestion-bloc">Pathologies </span>
              </div>
              <div fxFlex="50" fxLayoutAlign="end start">
                <button *ngIf="!seancesOfProgramme[i].toAddPathologie"  mat-icon-button
                        (click)="seancesOfProgramme[i].toAddPathologie = true">
                  <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="seancesOfProgramme[i].toAddPathologie"  mat-icon-button
                        (click)="seancesOfProgramme[i].toAddPathologie = false">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>

            <div fxFlex="100" *ngIf="seancesOfProgramme[i].toAddPathologie">
              <mat-form-field color="warn" fxFlex="100">
                <mat-label>Pathologies</mat-label>
                <mat-select multiple>
                  <mat-option *ngFor="let pathology of pathologies"
                  [value]="pathology"
                  (click)="addPathologie(pathology, i)">
                    {{pathology.details}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="100">
              <mat-chip-list #chipList aria-label="Categorie Exercice">
                <mat-chip
                  *ngFor="let item of seancesOfProgramme[i].pathologies ; let ii = index">
                  {{ item.nom }}
                  <mat-icon (click)="removePathologie(i, ii)">close</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>

            <div fxFlex="100" style="margin-left:10px">
              <p class="cat-exe-pathos-title">Catégories d'exercices concernées par ces pathologies :</p>
              <mat-chip-list #chipList aria-label="Categorie Exercice">
                <mat-chip
                  *ngFor="let item of seancesOfProgramme[i].categoriesexercices">
                  {{ item.acronyme }}
                </mat-chip>
              </mat-chip-list>
            </div> -->

            <!-- SECTION DES BLOCS -->
            <!-- <div fxFlex="100">
              <div fxFlex="50" fxLayoutAlign="start start" [ngStyle]="{'padding':'10px 0'}">
                <span class="title-gestion-bloc">
                  Gestion des blocs</span>
              </div>

              <div fxFlex="50" fxLayout="row" fxLayoutAlign="end start">
                  <button mat-icon-button
                          (click)="addBloc(i)">
                    <mat-icon>add</mat-icon>
                  </button>
              </div>
            </div> -->

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start"
                 *ngIf="seancesOfProgramme[i].blocs && seancesOfProgramme[i].blocs.length != 0" >

              <div fxFlex="100" fxLayout="row wrap" class="bloc"
                   *ngFor="let item of seancesOfProgramme[i].blocs; let idbloc = index"
                   style="background-color: white; padding: 15px; margin:10px">

                  <div fxFlex="25" fxLayoutAlign="start center">
                    <label>{{ seancesOfProgramme[i].blocs[idbloc].orientation }}</label>
                  </div>

                   <div fxFlex="25" fxLayoutAlign="start center">
                    <label *ngIf="seancesOfProgramme[i].blocs[idbloc].fusionnable">Fusionnable</label>
                  </div>

                  <div fxFlex="25" fxLayoutAlign="start center">
                    <label>{{ seancesOfProgramme[i].blocs[idbloc].duree }}</label>
                  </div>

                  <div fxFlex="25" fxLayoutAlign="end start">
                    <button mat-icon-button (click)="editBloc(i, idbloc)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteBloc(i, idbloc)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                  <div fxFlex="100" style="margin: 10px"
                  *ngIf="seancesOfProgramme[i].blocs[idbloc].methodes" >
                    <mat-chip-list #chipList aria-label="Les Méthodes">
                      <mat-chip class="tt-upper br-5">Méthodes : </mat-chip>
                      <mat-chip
                        *ngFor="let item of seancesOfProgramme[i].blocs[idbloc].methodes; let i = index"
                        [ngStyle]="{
                          'color': '#FFF',
                          'background-color': '#000'
                        }">
                        {{ item.acronyme }}
                      </mat-chip>
                    </mat-chip-list>
                  </div>

                  <div fxFlex="100" style="margin: 10px"
                  *ngIf="seancesOfProgramme[i].blocs[idbloc].categoriesexercices
                  && seancesOfProgramme[i].blocs[idbloc].categoriesexercices.length != 0" >
                    <mat-chip-list #chipList aria-label="Les Méthodes">
                      <mat-chip class="tt-upper br-5">Catégories d'exercices : </mat-chip>
                      <mat-chip
                        *ngFor="let item of seancesOfProgramme[i].blocs[idbloc].categoriesexercices; let i = index"
                        [ngStyle]="{
                          'color': '#FFF',
                          'background-color': '#000'
                        }">
                        {{ item.acronyme }}
                      </mat-chip>
                    </mat-chip-list>
                  </div>

              </div>
            </div>
          </div>
        </div>

      </div>
