<button mat-icon-button
  (click)="onClose()"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div fxLayout="column">
    <h2>Editer une question</h2>

    <form [formGroup]="questionForm" *ngIf="isDisplayed" fxLayout="column" (ngSubmit)="onEditQuestion()">

        <mat-form-field style="padding: 10px">
          <input matInput type="text" formControlName="question" placeholder="Question...">
        </mat-form-field>
        <mat-form-field style="padding: 10px">
          <input matInput type="text" formControlName="consignes" placeholder="Consignes...">
        </mat-form-field>

        <div fxLayoutAlign="start center" style="padding: 10px">
          <div fxFlex="20">
            <label style="padding: 0 20px">Active</label>
            <mat-slide-toggle formControlName="active" color="warn"></mat-slide-toggle>
          </div>
          <div fxFlex="50" [ngStyle]="{'padding':'10px 0'}">
            <button mat-button color="black"
            (click)="onAddReponse(); $event.preventDefault();">
              <mat-icon>add</mat-icon>
              Ajouter une reponse
            </button>
          </div>
        </div>

        <div formArrayName="reponses" fxLayout="row wrap" [ngStyle]="{'padding':'10px'}">

          <div class="reponse" *ngFor="let reponse of getReponses().controls; let i = index;" fxLayout="column">
            <div fxFlex="100">
              <mat-form-field fxFlex="100">
                <input matInput type="text" [formControlName]="i" placeholder="reponse">
              </mat-form-field>
              <button type="button" mat-button (click)="removeReponse(i)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>

        </div>

        <div [ngStyle]="{'padding':'10px'}">
          <button type="submit" mat-fab color="warn"
            [disabled]="questionForm.invalid">
              <mat-icon>save</mat-icon>
          </button>
        </div>

    </form>
</div>
