
<button mat-icon-button
  routerLink="/users"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div class="nom-formulaire" *ngIf="formData">
  <h2>User : <strong>{{ formData.email }}</strong></h2>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start start" *ngIf="formData && niveaux">

  <div fxFlex="30" style="padding:10px" fxLayout="column">
    <div id="imageContainer">
      <app-upload-images
      [size]="1000000"
      [width]="1000"
      [heigth]="1000"></app-upload-images>
    </div>
  </div>

  <div fxFlex="70" fxLayout="column" style="padding:10px">
    <div fxLayout="row">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Nom" type="text" name="nom"
          [(ngModel)]="formData.nom"
          (ngModelChange)="updateField('nom', formData.nom)"
          id="nom" required>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Prenom(s)" type="text" name="prenom"
          [(ngModel)]="formData.prenom"
          (ngModelChange)="updateField('prenom', formData.prenom)"
          id="prenom" required>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="50">
        <mat-label>Date de naissance</mat-label>
        <input matInput [matDatepicker]="picker1"
        [formControl]="datenaissanceControl"
        (ngModelChange)="updateField('datedenaissance', datenaissanceControl.value, true)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <div fxFlex="50">
        <label style="padding-top:28px !important">Genre</label>
        <mat-radio-group color="warn"
        [(ngModel)]="formData.genre"
        (ngModelChange)="updateField('genre', formData.genre)">
          <mat-radio-button value="H" class="span-radio-button">Homme</mat-radio-button>
          <mat-radio-button value="F" class="span-radio-button">Femme</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Mot de passe" type="text" name="password"
          [(ngModel)]="formData.password"
          (ngModelChange)="updateField('password', formData.password)"
          id="password" required>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Téléphone" type="text" name="prenom"
          [(ngModel)]="formData.telephone"
          (ngModelChange)="updateField('telephone', formData.telephone)"
          id="telephone" required>
      </mat-form-field>
    </div>
    <div>
      <p *ngIf="!editdates" fxLayout="row" fxLayoutAlign="start center" class="info-user">
        <button mat-icon-button (click)="editdates=!editdates"><mat-icon>edit</mat-icon></button>
        <span *ngIf="formData.datedernierlog">| Dernier log : {{ formData.datedernierlog | date }} |</span>
        <span *ngIf="formData.datedernieremaj">| Dernièrer maj : {{ formData.datedernieremaj | date }}</span>
      </p>
      <div *ngIf="editdates" fxLayout="row">
        <button mat-icon-button (click)="editdates=!editdates" class="icon" style="padding:10px 0 0"><mat-icon>visibility_off</mat-icon></button>
        <mat-form-field fxFlex="50">
          <mat-label>Dernier log</mat-label>
          <input matInput [matDatepicker]="picker3"
          [formControl]="datedernierlogControl"
          (ngModelChange)="updateField('datedernierlog', datedernierlogControl.value, true)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <mat-label>Dernière mise à jour</mat-label>
          <input matInput [matDatepicker]="picker4"
          [formControl]="datedernieremajControl"
          (ngModelChange)="updateField('datedernieremaj', datedernieremajControl.value, true)">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div fxLayout="row wrap" fxLayoutAlign="start center" class="divgrey" style="margin:10px">

    <h4 fxFlex="100">Position & Niveau</h4>

    <div fxLayout="row" fxFlex="100">
        <label style="padding:25px 5px 0 0"> Niveau </label>
        <span class="bulle-acro" *ngIf="!toChangeNiveau && formData.niveau">N {{ formData.niveau.acronyme}} </span>
        <button mat-icon-button
          (click)="toChangeNiveau = true"
          *ngIf="!toChangeNiveau && formData.niveau">
            <mat-icon>close</mat-icon>
        </button>
        <mat-radio-group color="warn"
          [(ngModel)]="formData.niveau"
          (ngModelChange)="updateField('niveau', formData.niveau)"
          *ngIf="!formData.niveau || toChangeNiveau">
          <mat-radio-button *ngFor="let niveau of niveaux"
          [value]="niveau" class="span-radio-button">
            N {{ niveau.acronyme }}
          </mat-radio-button>
        </mat-radio-group>
    </div>

    <div fxLayout="row" fxFlex="100" style="margin-top: 5px;">
      <label style="padding:25px 5px 0 0"> Niveau inscription </label>
      <span class="bulle-acro" *ngIf="!toChangeNiveauIns && formData.niveauinscription">
        N {{ formData.niveauinscription.acronyme}} </span>
      <button mat-icon-button
        (click)="toChangeNiveauIns = true"
        *ngIf="!toChangeNiveauIns && formData.niveauinscription">
          <mat-icon>close</mat-icon>
      </button>
      <mat-radio-group color="warn"
        [(ngModel)]="formData.niveauinscription"
        (ngModelChange)="updateField('niveauinscription', formData.niveauinscription)"
        *ngIf="!formData.niveauinscription || toChangeNiveauIns">
        <mat-radio-button *ngFor="let niveau of niveaux"
        [value]="niveau" class="span-radio-button">
          N {{ niveau.acronyme }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxFlex="100" style="margin-top: 5px;">
      <label style="padding:25px 5px 0 0"> Niveau periode Off </label>
      <span class="bulle-acro" *ngIf="!toChangeNiveauOff && formData.niveauavantperiodeoff">
        N {{ formData.niveauavantperiodeoff.acronyme}} </span>
      <button mat-icon-button
        (click)="toChangeNiveauOff = true"
        *ngIf="!toChangeNiveauOff && formData.niveauavantperiodeoff">
          <mat-icon>close</mat-icon>
      </button>
      <mat-radio-group color="warn"
        [(ngModel)]="formData.niveauavantperiodeoff"
        (ngModelChange)="updateField('niveauavantperiodeoff', formData.niveauavantperiodeoff)"
        *ngIf="!formData.niveauavantperiodeoff || toChangeNiveauOff">
        <mat-radio-button *ngFor="let niveau of niveaux"
        [value]="niveau" class="span-radio-button">
          N {{ niveau.acronyme }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayoutAlign="start start" style="margin-top: 10px;" fxFlex="100">
      <label class="dark-chip" fxFlex="18"> Position Parcours Niveau:</label>
      <mat-radio-group color="warn"
      [(ngModel)]="formData.positionparcoursniveau"
      (ngModelChange)="updateField('positionparcoursniveau', formData.positionparcoursniveau)"
      fxFlex="82">
        <mat-radio-button *ngFor="let item of listePositionParc"
        [value]="item" class="span-radio-button">
          {{ item }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayoutAlign="start start" style="margin-top: 10px;" fxFlex="100">
      <label class="dark-chip" fxFlex="18"> Position Séance:</label>
      <mat-radio-group color="warn"
      [(ngModel)]="formData.positionseance"
      (ngModelChange)="updateField('positionseance', formData.positionseance)"
      fxFlex="82">
        <mat-radio-button value="1" class="span-radio-button">1</mat-radio-button>
        <mat-radio-button value="2" class="span-radio-button">2</mat-radio-button>
        <mat-radio-button value="3" class="span-radio-button">3</mat-radio-button>
        <mat-radio-button value="4" class="span-radio-button">4</mat-radio-button>
        <mat-radio-button value="5" class="span-radio-button">5</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="row" fxFlex="100">
        <label style="padding:25px 5px 0 0">Mode Reprise</label>
        <mat-radio-group color="warn"
          [(ngModel)]="formData.modereprise"
          (ngModelChange)="updateField('modereprise', formData.modereprise)">
            <mat-radio-button *ngFor="let it of modereprise" [value]="it" class="span-radio-button">{{ it }}></mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-form-field fxFlex="100">
      <input matInput placeholder="Parcours Nutrition" type="text" name="parcoursnutrition"
        [(ngModel)]="formData.parcoursnutrition"
        (ngModelChange)="updateField('parcoursnutrition', formData.parcoursnutrition)"
        id="parcoursnutrition" required>
    </mat-form-field>

  </div>


  <div fxFlex="30" fxLayout="row wrap" fxLayoutAlign="start center" class="divgrey" style="margin:10px">

    <h4 fxFlex="100">Objectifs & Pathologies</h4>

    <div fxFlex="100" fxLayout="column" class="objectif" style="margin:0 10px 10px 0">
      <div style="margin:0 10px 10px">
        <label class="dark-chip custom-obj"> Objectifs</label>
        {{ formData.objectif ? formData.objectif.nom : 'inconnu' }}
        <button  mat-icon-button (click)="showObjectif = true" *ngIf="!showObjectif" >
          <mat-icon>visibility</mat-icon>
        </button>
        <button  mat-icon-button (click)="showObjectif = false" *ngIf="showObjectif" >
          <mat-icon>visibility_off</mat-icon>
         </button>
      </div>
      <div *ngIf="showObjectif"  fxLayout="column">
        <mat-chip-list #chipList aria-label="objectifs">
          <mat-chip
            *ngFor="let item of objectifs; let i = index"
            [ngStyle]="{
              'color': '#FFF',
              'background-color': '#000'
            }"
            (click)="selectObjectif(item)">
            {{ item.acronyme }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div fxFlex="100" fxLayout="column" class="objectif" style="margin:0 10px 10px 0">
      <div style="margin:0 10px 10px">
        <label class="dark-chip custom-obj"> Pathologie</label>
        {{ formData.pathologie ? formData.pathologie.acronyme : 'inconnu' }}
        <button  mat-icon-button (click)="toAddPathologie = true" *ngIf="!toAddPathologie" >
          <mat-icon>visibility</mat-icon>
        </button>
        <button  mat-icon-button (click)="toAddPathologie = false" *ngIf="toAddPathologie" >
          <mat-icon>visibility_off</mat-icon>
         </button>
      </div>
      <div *ngIf="toAddPathologie"  fxLayout="column">
        <mat-chip-list #chipList aria-label="pathologies">
          <mat-chip
            *ngFor="let item of pathologies; let i = index"
            [ngStyle]="{
              'color': '#FFF',
              'background-color': '#000'
            }"
            (click)="selectedPathologie(item)">
            {{ item.acronyme }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <div fxFlex="60" class="divgrey" fxLayout="row wrap" style="margin:10px">

    <h4 fxFlex="100">Abonnement</h4>

    <div fxFlex="50">
      <label>Premium &nbsp; </label>
      <mat-slide-toggle color="warn"
        [formControl]="premiumControl"
        (change)="updateField('premium', premiumControl.value)">
      </mat-slide-toggle>
    </div>

    <div fxFlex="50">
      <label>Type d'abonnement</label>
      <mat-radio-group color="warn"
      [(ngModel)]="formData.abonnement"
      (ngModelChange)="updateField('abonnement', formData.abonnement)">
        <mat-radio-button value="1" class="span-radio-button">1 mois</mat-radio-button>
        <mat-radio-button value="3" class="span-radio-button">3 mois</mat-radio-button>
        <mat-radio-button value="3" class="span-radio-button">12 mois</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxFlex="100">
      <label fxFlex="50" fxLayoutAlign="end start">Senior &nbsp; </label>
      <mat-slide-toggle fxFlex="50" fxLayoutAlign="start start" color="warn"
        [formControl]="seniorControl"
        (change)="updateField('senior', seniorControl.value)">
      </mat-slide-toggle>
    </div>

    <mat-form-field fxFlex="20">
      <mat-label>Date fin premium</mat-label>
      <input matInput [matDatepicker]="picker2"
      [formControl]="datefindepremiumControl"
      (ngModelChange)="updateField('datefindepremium', datefindepremiumControl.value, true)">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="20">
      <input matInput placeholder="Tarif" type="text" name="tarif"
        [(ngModel)]="formData.tarif"
        (ngModelChange)="updateField('tarif', formData.tarif)"
        id="tarif" required>
    </mat-form-field>

    <mat-form-field fxFlex="40">
      <mat-label>Frequence</mat-label>
      <mat-select
      [(ngModel)]="formData.frequence"
      (ngModelChange)="updateField('frequence', formData.frequence)">
        <mat-option *ngFor="let item of listeFrequence"  [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="20">
      <input matInput placeholder="Frequence par jour" type="number" name="frequenceparjour"
        [(ngModel)]="formData.frequenceparjour"
        (ngModelChange)="updateField('frequenceparjour', formData.frequenceparjour)"
        id="frequenceparjour" required>
    </mat-form-field>
  </div>

  <div fxFlex="100" fxLayoutAlign="end end" style="margin: 10px">
    <button mat-raised-button [routerLink]="'./user-questions'">
      Lancer le Questionnaire n°1
    </button>
    <button mat-raised-button
    color="warn"
    [routerLink]="['/users/user-seance', formData.id]"
    *ngIf="premiumControl.value"
    >Lancer un entrainement</button>
  </div>

</div>


