<button mat-icon-button
  routerLink="/trophees"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div class="nom-formulaire" *ngIf="formData">
    <h2>Trophée : <strong>{{ formData.nom }}</strong></h2>
</div>

<div *ngIf="formData">
    <div fxLayout="row" style="margin: 2%">
        <div fxFlex="40">
            <app-upload-images [size]="1000000" [width]="1000" [heigth]="1000"></app-upload-images>
        </div>

        <div fxFlex="60" fxLayout="column">
            <mat-form-field style="margin: 3%">
                <input matInput placeholder="Nom" required [(ngModel)]="formData.nom"
                (ngModelChange)="updateField('nom', formData.nom)" name="nom">
            </mat-form-field>
            <mat-form-field style="margin: 3%">
                <input matInput placeholder="Details" required [(ngModel)]="formData.details"
                (ngModelChange)="updateField('details', formData.details)" name="details">
            </mat-form-field>
            <mat-form-field style="margin: 3%">
                <input matInput placeholder="Explications" required [(ngModel)]="formData.explications"
                (ngModelChange)="updateField('explications', formData.explications)" name="explications">
            </mat-form-field>
        </div>
    </div>
</div>
