<div fxLayout="column">
        <div *ngIf="sharedService.fileUrl === null">
            <input type="file" (change)="detectFile($event)" accept="image/*" class="btn btn-info">
            <p *ngIf="fileUploaded">Fichier chargé !</p>
            <p *ngIf="!fileIsOK" class="text-danger">Impossible de charger l'image</p>
        </div>
        <div *ngIf="sharedService.fileUrl === null">
            <div id="dropzone"
                (dragover)="false"
                (dragend)="false"
                (drop)="handleDrop($event)">
                    <p style="text-align: center"> <strong>Drop Your Images Here</strong></p>
            </div>
        </div>
        <ul *ngIf="erreursMessages">
          <li *ngFor='let erreur of erreursMessages' class="erreurMessage"> {{ erreur }} </li>
        </ul>

        <div class="del" *ngIf="sharedService.fileUrl != null">
          <mat-card class="example-card" >
              <img mat-card-image [src]="sharedService.fileUrl" height="200px">
              <mat-card-actions class="text-center">
                  <button mat-icon-button (click)="onDeleteDrapImage()">
                      <mat-icon>delete</mat-icon>
                  </button>
              </mat-card-actions>
          </mat-card>
      </div>
</div>
