
<div *ngIf="errorMessage.length !== 0">
  <p *ngFor="let item of errorMessage"> {{ item }} </p>
</div>

<div *ngIf="listeExercices && listeExercices.length !== 0">
  <h3>Les données de l'utilisateur correspondent à {{ listeExercices.length }} exercice(s)</h3>
</div>

<div *ngIf="!programmes">
  <h3>Aucun programme n'a été retenu pour le user</h3>
</div>

<div>
  <button mat-button (click)="launch('oui')">
    Lancement d'une session à heure de pointe
  </button>
  <button mat-button (click)="launch('non')">
    Lancement d'une session sans heure de pointe
  </button>
</div>

<div *ngIf="methodeAleatoire">
  <p *ngIf="methodeAleatoireCatExe.length === 0">
    La méthode retenue de manière aléatoire n'a pas de catégories d'exercice. <br>
    La récupération des catégories d'exercice s'effectue donc depuis le bloc du programme.
  </p>
  <p *ngIf="listeCategories">
    La liste des catégories d'exercices récupérée est composée de <b>{{ listeCategories.length }}</b> éléments.
  </p>
  <p *ngIf="methodeAleatoireCatExe.length === 0"> la methode aléatoire n'a pas de categorie d'exercice </p>
  <p *ngIf="methodeWorks"> <strong>METHODE WORKS : </strong>La méthode retenue de manière aléatoire a bien un nombre d'exercice minimum inférieur ou égal aux nombre d'exercices compatibles avec le user et appartenant aux catégories d'exercices de la méthode. </p>
  <p *ngIf="!methodeWorks"> <strong>LA METHODE NE FONCTIONNE PAS : </strong>La méthode retenue de manière aléatoire a un nombre d'exercice supèrieur aux nombre d'exercices compatibles avec le user et appartenant aux catégories d'exercices de la méthode. </p>
</div>

<div style="padding: 10px;" fxLayout="column" *ngIf="programmes" >
  <div fxFlex="30" style="margin: 5px;">
    <h2>Programme</h2>
    <p>La liste d'exercice du user est composée de xx exercices</p>
    <p>
      Programme retenu pour le user : <strong>{{ programmes.acronyme }} / {{ programmes.numero }}</strong>
    </p>
    <hr>
    <h2>Séance</h2>
    <p>
      La position de séance du user est : <strong>{{ currentUser.positionseance }}</strong>. <br>
      Le programme retenu à <strong>{{ programmes.seances.length }}</strong> séances. <br>
      <span *ngIf="programmes.seances[currentUser.positionseance-1]">Une séance a été bien été trouvée pour le user</span>
      <span *ngIf="!programmes.seances[currentUser.positionseance-1]">Aucune séance n'a été été trouvée pour le user</span> <br>
      Déroulé de la Séance <br>
      <!-- {{ programmes.seances[currentUser.positionseance-1] | json }} -->
    </p>
    <hr>
    <div *ngIf="echauffement" >
      <h4> Echauffement : {{ echauffement.nom }} </h4>
      <p *ngFor="let item of echauffement.exercices ; let i = index" >
        <span>{{ i+ 1 }}</span> <span> {{ item.nomexercice }} </span>
      </p>
    </div>
    <hr>
    <h4 *ngIf="isPathologie"> Traitement de la pathologie  : {{ currentPathologie.nom }}</h4>
    <p *ngIf="!lancementSerieFixePathos">
      Les catégories d'exercices de la séance n'ont aucune contre indications par rapport à la pathologie du user. <br>
      <i>(ie. aucune des user.cat_exe_pathos n'est inclue dans programme.seance.cat_exe_pathos</i><br>
    </p>
    <p *ngIf="lancementSerieFixePathos">Lancement de la serie fixe : {{ currentPathologie.seriefixe.nom }}</p>
    <hr>
    <div *ngFor="let bloc of seance.blocs; let i = index">
      <div *ngIf="!lancementSerieFixePathos">
        <h4>
          Bloc Numéro {{ i+1 }} : <span *ngIf="i==0">Abdominaux</span>
        </h4>
        <div>
          Déroulé du bloc
        </div>
      </div>
      <!-- <div *ngIf="lancementSerieFixePathos && currentUser.niveau.nombre >= 3 && i>0">
        <h4>Bloc Numéro {{ i+1 }}</h4>

      </div> -->
    </div>
  </div>
</div>

<button *ngIf="currentUser" mat-button [routerLink]="['/users/user-details/', currentUser.id ]">
  Retourner à la fiche user
</button>
