/* You can add global styles to this file, and also import other style files */


* {
  font-family: 'Roboto', sans-serif;
  /* background-color: #000; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2 {
  text-transform: uppercase;
  font-size: 1em;
  padding-left: 10px;
}
h2.h2-modal {
  padding-left: 0px;
  font-size: 1.2em;
}
h4.h4-modal {
  padding: 0 0 10px;
  margin: 0;
}


.button-right {
  position: absolute !important;
  top: 30px;
  right: 30px;
}
.button-right .mat-icon, .button-right-modal .mat-icon {
  font-size: 40px;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  color: #999 !important;
  transition: all 0.1s;
}
.button-right:hover .mat-icon, .button-right-modal:hover .mat-icon {
  color: #000 !important;
}
.button-right-modal {
  float: right;
}
.timestamp {
  color: #999;
}
.dark-chip {
  background-color: #000 !important;
  color: #FFF !important;
}
.bulle-acro {
  background-color: #333;
  color: #FFF;
  border-radius: 10px;
  margin: 0 0 0 5px;
  padding: 3px 5px;
  font-size: 0.9em;
}
.cercle-acro, .button-cercle {
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #FFF;
  color: #000;
  margin: 0 5px;
  padding: 3px 5px;
  font-size: 0.9em;
}
.button-cercle:hover {
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}


.icon-but {
  color: #666;
  cursor: pointer;
}
.icon-but:hover {
  color: #000;
}

.span-radio-button {
  border: 1px dashed #ccc;
  font-size: 0.9em;
  color: #999;
  font-weight: bold;
  padding: 5px !important;
  border-radius: 5px;
  margin: 0 0 0 5px;
  transition: all 0.1s;
}
.span-radio-button:hover {
  background-color: #666;
  color: #FFF;
  border: 1px solid #000;
}

.nom-formulaire {
  background-color: #000;
  color: #FFF;
  padding: 5px 30px;
  text-transform: uppercase;;
  font-weight: 300 !important;
  margin: 10px;
}
.nom-formulaire h2 {
  text-transform: uppercase;;
  font-weight: 300 !important;
}
