<button mat-icon-button
  routerLink="/exercices"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="formData && niveaux">

  <mat-step>
      <ng-template matStepLabel>1 ère Etape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-form-field fxFlex="22">
          <input matInput [(ngModel)]="formData.numero"
          (ngModelChange)="updateFiel('numero',formData.numero)"
          placeholder="numero" required>
        </mat-form-field>

        <mat-form-field fxFlex="34">
          <input matInput [(ngModel)]="formData.nom"
          (ngModelChange)="updateFiel('nom',formData.nom)"
          placeholder="nom" required>
        </mat-form-field>

        <mat-form-field fxFlex="22">
          <input matInput [(ngModel)]="formData.duree"
          (ngModelChange)="updateFiel('duree',formData.duree)"
          placeholder="duree (min)" required>
        </mat-form-field>

        <mat-form-field fxFlex="22">
          <input matInput [(ngModel)]="formData.position"
          (ngModelChange)="updateFiel('position',formData.position)"
          placeholder="position" required>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput [(ngModel)]="formData.descriptif"
          (ngModelChange)="updateFiel('descriptif',formData.descriptif)"
          placeholder="descriptif" required>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <mat-label>Niveau</mat-label>
          <mat-select [(value)]="formData.niveau" required>
            <mat-option *ngFor="let niveau of niveaux" [value]="niveau">
              {{niveau.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <section fxFlex="100">
          <label class="dark-chip"> Type :</label>
          <mat-radio-group color="warn" required>
              <mat-radio-button value="global">
                Global
              </mat-radio-button>
              <mat-radio-button value="analytique">
                Analytique
              </mat-radio-button>
          </mat-radio-group>
        </section>
      </div>

    <div class="btnClass">
      <button mat-button matStepperNext>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step>

      <ng-template matStepLabel>2ème Etape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-form-field fxFlex="25">
          <input matInput [(ngModel)]="formData.ageminimal"
          (ngModelChange)="updateFiel('ageminimal',formData.ageminimal)"
          placeholder="Age minimal" required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput [(ngModel)]="formData.agemaximal"
          (ngModelChange)="updateFiel('agemaximal',formData.agemaximal)"
          placeholder="Age maximal"  required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput [(ngModel)]="formData.nbrrepetitionsenior"
          (ngModelChange)="updateFiel('nbrrepetitionsenior',formData.nbrrepetitionsenior)"
          placeholder="nombre repetition senior"  required>
        </mat-form-field>

        <mat-form-field fxFlex="25">
          <input matInput [(ngModel)]="formData.nbrerepetitionechauffement"
          (ngModelChange)="updateFiel('numero',formData.numero)"
          placeholder="nombre repitition echauff"  required>
        </mat-form-field>

        <div fxLayout="row"  [ngStyle]="{'padding':'10px'}">
          <div [ngStyle]="{'padding-right':'30px'}">
            <label>Echauffement &nbsp; </label>
            <mat-slide-toggle
              color="warn"
              [formControl]="echauffementControl">
            </mat-slide-toggle>
          </div >
          <div [ngStyle]="{'padding-left':'20px'}">
            <label>Accès salle de sport &nbsp; </label>
            <mat-slide-toggle
              color="warn"
              [formControl]="accessalledesportControl"></mat-slide-toggle>
          </div>
        </div>

      </div>

    <div class="btnClass">
      <button mat-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>3ème Etape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-form-field fxFlex="50">
          <input matInput [(ngModel)]="formData.regime" placeholder="regime"  required>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput [(ngModel)]="formData.consigne" placeholder="consigne"  required>
        </mat-form-field>

      </div>

    <div class="btnClass">
      <button mat-button matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>

    </div>
  </mat-step>

</mat-horizontal-stepper>

