mat-form-field {
  padding: 0 6px;
}

mat-radio-button {
  padding: 0 10px;
}

label {
  padding: 6px 10px;
  border-radius: 5px;
}

mat-horizontal-stepper {
  padding: 10px;
}

.btnClass {
  text-align: center;
}

.sectionNiveau {
  margin-top: 15px;
  margin-left: 15px;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-header .mat-step-icon-selected {
  background-color: #000 !important;
}

::ng-deep .mat-horizontal-stepper-header-container .mat-step-icon-state-edit {
  background-color: #999 !important;
}

.regime {
  margin-top: 10px ;
  font-weight: bolder;
  font-size: 0.9em;
}

mat-checkbox{
  padding: 0 10px;
}

#imagelabel{
  text-align: left;
  color: 000;
  font-size: 1.3em;
}

#imageContainer{
  margin-top: 20px;
}
