<button mat-icon-button
  routerLink="/exercices"
  type="button"
  class="button-right">
    <mat-icon>close</mat-icon>
</button>

<div class="nom-formulaire" *ngIf="formData">
  <h2>Exercice : <strong>{{ formData.nom }}</strong></h2>
</div>

<mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="formData && niveaux">

  <mat-step>
      <ng-template matStepLabel>ère étape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">

        <mat-form-field fxFlex="15">
          <input matInput placeholder="Numéro" type="number" required
          [(ngModel)]="formData.numero"
          (ngModelChange)="updateFiel('numero', formData.numero)">
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <mat-label>Temps de l'exercice</mat-label>
          <mat-select [(ngModel)]="formData.time"
          (ngModelChange)="updateFiel('time', formData.time)">
            <mat-option *ngFor="let time of listes.listeTempsDureeExercice" matNativeControl [value]="time">
                {{time}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field fxFlex="70">
          <input matInput placeholder="Nom de l'exercice" required
          [(ngModel)]="formData.nom"
          (ngModelChange)="updateFiel('nom', formData.nom)">
        </mat-form-field>

        <mat-form-field fxFlex="30">
          <input matInput placeholder="Consigne Courte"
          [(ngModel)]="formData.consignecourte"
          (ngModelChange)="updateFiel('consignecourte', formData.consignecourte)">
        </mat-form-field>

        <mat-form-field fxFlex="70">
          <input matInput placeholder="Consigne Longue"  required
          [(ngModel)]="formData.consignelongue"
          (ngModelChange)="updateFiel('consignelongue', formData.consignelongue)">
        </mat-form-field>

        <div fxLayout="row" fxFlex="100">
          <div fxFlex="100" fxLayout="column">

            <div>
              <label class="dark-chip"> Niveau : </label>
              <span class="bulle-acro"
              *ngIf="(!toChangeNiveau && formData.niveau)">N {{ formData.niveau.acronyme}} </span>

              <button mat-icon-button (click)="toChangeNiveau = true"
              *ngIf="!toChangeNiveau && niveauSelected">
                <mat-icon>close</mat-icon>
              </button>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.niveau"
              (ngModelChange)="updateFiel('niveau', formData.niveau)"
              *ngIf="toChangeNiveau || !niveauSelected">
                <mat-radio-button *ngFor="let niveau of niveaux"
                [value]="niveau" class="span-radio-button">
                  N {{ niveau.acronyme }}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
        </div>

        <div fxFlex="100" id="imageContainer" fxLayout="row wrap" fxLayoutAlign="start center">

          <div fxFlex="50" class="fileContent">
              <h3 class="imagelabel" *ngIf="sharedService.isImageUploadShown"> Ajouter une image</h3>
              <app-upload-images
                [urlThumbnail]="imgThumbnail"
                [size]="1000000"
                [width]="2000"
                [heigth]="2000"></app-upload-images>
              <div>
                <button [disabled]="!formData.photo" *ngIf="!imgThumbnail" (click)="generateThumbnail(formData)" mat-raised-button color="warn">
                  <span>Générer la vignette </span>
                  <mat-icon>compress</mat-icon>
                </button>
                <button disabled="true" *ngIf="imgThumbnail" mat-raised-button color="warn">
                  <span>Vignette générée </span>
                  <mat-icon>done</mat-icon>
                </button>
              </div>
          </div>

          <div fxFlex="50">
            <h3 class="imagelabel" *ngIf="sharedService.isVideoUploadShown"> Ajouter une vidéo</h3>
            <app-upload-videos></app-upload-videos>
            <p *ngIf="!sharedService.isVideoUploadShown">File size : {{ formData?.filesize }}</p>
            <mat-progress-bar
            mode="determinate"
            [value]="sharedService.progressValue"
            *ngIf="sharedService.isUploadingVideo" ></mat-progress-bar>
        </div>
        <!-- <div fxFlex="30" gdAlignRows="center center">
          <h2 class="imagelabel">Vignette image</h2>
          <h4 *ngIf="!imgThumbnail && !loadThumbnail" style="color: red;">Aucune vignette</h4>
          <img *ngIf="imgThumbnail" [src]="imgThumbnail" alt="vignette image">
          <mat-spinner *ngIf="loadThumbnail"></mat-spinner>
          <button [disabled]="!formData.photo" *ngIf="!imgThumbnail && !loadThumbnail" (click)="generateThumbnail(formData)" mat-mini-fab color="primary">
            <mat-icon>autorenew</mat-icon>
          </button>
      </div> -->

        </div>

        <div fxLayout="row" fxFlex="100">
          <div fxFlex="100" class="btnClass" fxLayoutAlign="end end">
            <button mat-fab matStepperNext color="warn">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </div>
        </div>
      </div>
  </mat-step>



  <mat-step>
      <ng-template matStepLabel>ème étape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="center start">

        <div fxLayout="row" fxFlex="100">
          <div fxFlex="100" fxLayout="column">

            <div class="regime" fxLayoutAlign="start start">
              <label class="dark-chip"> Régime :</label>
              <mat-checkbox checked="true" color="warn" class="span-radio-button"
                *ngFor="let regime of regimeSelected;"
                (change)="onUpdateRegime($event, regime)">{{ regime }}</mat-checkbox>
              <mat-checkbox color="warn" class="span-radio-button"
                *ngFor="let regime of regimeNotSelected"
                (change)="onUpdateRegime($event, regime)">{{ regime }}</mat-checkbox>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px;">
              <label class="dark-chip"> Genre :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.genre"
              (ngModelChange)="updateFiel('genre', formData.genre)">
                <mat-radio-button value="H" class="span-radio-button">
                  Homme
                </mat-radio-button>
                <mat-radio-button value="F" class="span-radio-button">
                  Femme
                </mat-radio-button>
                <mat-radio-button value="H&F" class="span-radio-button">
                  Homme & Femme
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px;">
              <label class="dark-chip"> Age :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.age"
              (ngModelChange)="updateFiel('age', formData.age)">
                <mat-radio-button value="TOUT" class="span-radio-button">
                  Tout âge
                </mat-radio-button>
                <mat-radio-button value="SUP19" class="span-radio-button">
                  > 19 ans
                </mat-radio-button>
                <mat-radio-button value="INF50" class="span-radio-button">
                  < 50 ans
                </mat-radio-button>
                <mat-radio-button value="SUP19&INF50" class="span-radio-button">
                  > 19 & < 50 ans
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px;">
              <label class="dark-chip"> Type :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.type"
              (ngModelChange)="updateFiel('type', formData.type)">
                  <mat-radio-button value="global" class="span-radio-button">
                    Global
                  </mat-radio-button>
                  <mat-radio-button value="analytique" class="span-radio-button">
                    Analytique
                  </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px;">
              <label class="dark-chip"> Senior :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.senior"
              (ngModelChange)="updateFiel('senior', formData.senior)">
                <mat-radio-button value="non" class="span-radio-button">
                  Uniquement pour non senior
                </mat-radio-button>
                <mat-radio-button value="oui" class="span-radio-button">
                  Uniquement pour senior
                </mat-radio-button>
                <mat-radio-button value="tous" class="span-radio-button">
                  Pour toute personne
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px;">
              <label class="dark-chip"> Position :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.position"
              (ngModelChange)="updateFiel('position', formData.position)">
                <mat-radio-button value="debout" class="span-radio-button">
                  Debout
                </mat-radio-button>
                <mat-radio-button value="coucheventre" class="span-radio-button">
                  Couché sur le ventre
                </mat-radio-button>
                <mat-radio-button value="couchedos" class="span-radio-button">
                  Couché sur le dos
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayoutAlign="start start" style="margin-top: 10px; margin-bottom: 10px;">
              <label class="dark-chip"> Pathologie :</label>
              <mat-radio-group color="warn"
              [(ngModel)]="formData.pathologie"
              (ngModelChange)="updateFiel('pathologie', formData.pathologie)">
                <mat-radio-button value="sans" class="span-radio-button">
                  Uniquement sans pathologie
                </mat-radio-button>
                <mat-radio-button value="avec" class="span-radio-button">
                  Uniquement avec pathologies
                </mat-radio-button>
                <mat-radio-button value="tous" class="span-radio-button">
                  Avec ou sans pathologie
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

        </div>

        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="visibility"
            (change)="updateFiel('visibility', visibility.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Visibilité &nbsp; </label>
        </div>

        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="intermittent"
            (change)="updateFiel('intermittent', intermittent.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Intermittent &nbsp; </label>
        </div>

        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="unilateral"
            (change)="updateFiel('unilateral', unilateral.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Unilatéral &nbsp; </label>
        </div>


        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="accessalledesportControl"
            (change)="updateFiel('accessalledesport', accessalledesportControl.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Accès salle de sport &nbsp; </label>
        </div>

        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="degressif"
            (change)="updateFiel('degressif', degressif.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Dégressif &nbsp; </label>
        </div>


        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="visuel"
            (change)="updateFiel('visuel', visuel.value)"></mat-slide-toggle>
            <label fxLayoutAlign="end start">Visuel &nbsp; </label>
        </div>


        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="echauffementControl"
            (change)="updateFiel('echauffement', echauffementControl.value)">
          </mat-slide-toggle>
          <label fxLayoutAlign="end start">Echauffement &nbsp; </label>
        </div>

        <mat-form-field fxFlex="100" *ngIf="echauffementControl.value">
          <mat-label>Nombre de Répétitions Échauffement</mat-label>
          <mat-select [(ngModel)]="formData.nbrerepetitionechauffement"
          (ngModelChange)="updateFiel('nbrerepetitionechauffement', formData.nbrerepetitionechauffement)">
            <mat-option *ngFor="let repetechauff of listes.nbrerepetechauffement" matNativeControl [value]="repetechauff">
                {{repetechauff}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="retouraucalme"
            (change)="updateFiel('retouraucalme', retouraucalme.value)">
          </mat-slide-toggle>
          <label fxLayoutAlign="end start">Retour au calme &nbsp; </label>
        </div>

        <mat-form-field fxFlex="100" *ngIf="retouraucalme.value">
          <mat-label>Nombre de Répétitions Retour au Calme</mat-label>
          <mat-select [(ngModel)]="formData.nbrerepetretourcalme"
          (ngModelChange)="updateFiel('nbrerepetretourcalme', formData.nbrerepetretourcalme)">
            <mat-option *ngFor="let repetecalme of listes.nbrerepetretourcalme" matNativeControl [value]="repetecalme">
                {{repetecalme}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <div fxFlex="100" fxLayout="row" [ngStyle]="{'margin-bottom':'10px'}">
          <mat-slide-toggle fxLayoutAlign="start start" color="warn"
            [formControl]="repetitionexercice"
            (change)="updateFiel('repetitionexercice', repetitionexercice.value)">
          </mat-slide-toggle>
          <label fxLayoutAlign="end start">Fourchettes de Répétitions Précisées pour l'Exercice &nbsp; </label>
        </div>

        <mat-form-field fxFlex="100" *ngIf="repetitionexercice.value">
          <mat-label>Nombre de Répétitions Précisées pour l'exercice</mat-label>
          <mat-select [(ngModel)]="formData.nbrerepetitionexercice"
          (ngModelChange)="updateFiel('nbrerepetitionexercice', formData.nbrerepetitionexercice)">
            <mat-option *ngFor="let repetexo of listes.nbrerepetexercice" matNativeControl [value]="repetexo">
                {{repetexo}}
            </mat-option>
          </mat-select>
        </mat-form-field>



        <mat-form-field fxFlex="100" *ngIf="showSeniotRepetList">
          <mat-label>Nombre de Répétitions Sénior</mat-label>
          <mat-select [(ngModel)]="formData.nbrrepetitionsenior"
          (ngModelChange)="updateFiel('nbrrepetitionsenior', formData.nbrrepetitionsenior)">
            <mat-option *ngFor="let repetsenior of listes.nbrerepetsenior" matNativeControl [value]="repetsenior">
                {{repetsenior}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

    <div fxLayout="row" fxFlex="100">
      <div fxFlex="50" class="btnClass" fxLayoutAlign="start end">
        <button mat-icon-button matStepperPrevious color="black">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
      <div fxFlex="50" class="btnClass" fxLayoutAlign="end start">
        <button mat-fab matStepperNext color="warn">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>

  </mat-step>

  <mat-step>

      <ng-template matStepLabel>ème étape</ng-template>

      <div fxLayout="row wrap" fxLayoutAlign="start start">
        <app-categories
          [ngStyle]="{'padding':'10px 0'}"
          [noeud]="'exe_cat'"
          [currentExercice]="formData"
          [chipsSelectedInput]="formData.categories"></app-categories>

        <section fxFlex="100" class="materiel">
          <mat-chip-list aria-label="Sélection de Matériels">
            <mat-chip class="dark-chip">Matériels de l'exercice :</mat-chip>
            <mat-chip *ngFor="let materiel of materielsService.materielsSelected">
              {{ materiel.nom }}
              <mat-icon (click)="removeMateriel(materiel)">close</mat-icon>
            </mat-chip>
            <mat-chip>
              <button mat-icon-button (click)="openMatDialog()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </section>

      </div>

    <div fxLayout="row" fxFlex="100">
      <div fxFlex="50" class="btnClass" fxLayoutAlign="start end">
        <button mat-icon-button matStepperPrevious color="black">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
    </div>

  </mat-step>

</mat-horizontal-stepper>

