<!-- <div fxLayout="row">
  <div fxFlex fxLayoutAlign="end start">
    <button mat-icon-button color="accent" (click)="seDeconnecter()" matTooltip="logout" *ngIf="isAuthentification">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</div> -->

<div fxLayout="row wrap" fxLayoutAlign="center center" class="div-home" fxLayoutGap="">
  <div fxFlex="33" fxLayoutAlign="center center">Exercices</div>
  <div fxFlex="33" fxLayoutAlign="center center" routerLink="/materiels">Matériels</div>
  <div fxFlex="33" fxLayoutAlign="center center">Niveaux/Objectifs</div>
  <div fxFlex="33" fxLayoutAlign="center center">Questionnaires</div>
  <div fxFlex="33" fxLayoutAlign="center center">Pathologies</div>
  <div fxFlex="33" fxLayoutAlign="center center">Programmes</div>
</div>
