
<div fxLayout="row wrap" fxLayoutAlign="center center" [ngStyle]="{'margin-top':'30px'}">
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/materiels">Matériels</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/niveaux">Niveaux</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/objectifs">Objectifs</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/pathologies">Pathologies</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/exercices">Exercices</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home" routerLink="/questionnaires">Questionnaires</div>
  <!-- <div fxFlex="24" fxLayoutAlign="center center" class="div-home-inative">Questionnaires</div> -->
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home-inative">Programmes</div>
  <div fxFlex="24" fxLayoutAlign="center center" class="div-home-inative">Users</div>
</div>
