


.div-home-inative {
  height: 300px;
  background-color: #eee;
  color: #FFF;
  text-transform: uppercase;
  margin: 1px;
}


.div-home {
  height: 200px;
  background-color: #999;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1px;
}
.div-home:hover {
  background-color: #FE5000;
  letter-spacing: 6px;
}


.div-home-inative, .div-home {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 1.3em;
	transition: all 0.2s;
}
