
<div fxLayout="row wrap" fxLayoutAlign="center center" class="div-home" fxLayoutGap="">
  <div fxFlex="33" fxLayoutAlign="center center">Exercices</div>
  <div fxFlex="33" fxLayoutAlign="center center" routerLink="/materiels">Matériels</div>
  <div fxFlex="33" fxLayoutAlign="center center">Niveaux/Objectifs</div>
  <div fxFlex="33" fxLayoutAlign="center center" routerLink="/questionnaires">Questionnaires</div>
  <div fxFlex="33" fxLayoutAlign="center center">Pathologies</div>
  <div fxFlex="33" fxLayoutAlign="center center">Programmes</div>
</div>
